<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-outline-success btn-sm">全国机场详情</button>
<button type="button" class="btn btn-outline-success btn-sm">中航质项目地图</button>
<button type="button" class="btn btn-outline-success btn-sm">中航质设备清单</button>
<button type="button" class="btn btn-outline-success btn-sm">行业与项目联系人</button>
<button type="button" class="btn btn-outline-success btn-sm">各项目相关单位</button>
<button type="button" class="btn btn-outline-success btn-sm">各机场弱电设备</button>
</body>
</html>