<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .btn-sm{
            min-width:10em;
        }
    </style>
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-outline-info btn-sm" href="">全国机场详情</button>
<button type="button" class="btn btn-outline-info btn-sm">中航质项目地图</button>
<button type="button" class="btn btn-outline-info btn-sm">中航质设备清单</button>
<a type="button" class="btn btn-outline-info btn-sm" href="/ZHZ/person" target="_blank">行业与项目联系人</a>
<a type="button" class="btn btn-outline-info btn-sm" href="/ZHZ/newproject" target="_blank">立项项目管理</a>
<button type="button" class="btn btn-outline-info btn-sm">各项目相关单位</button>
<button type="button" class="btn btn-outline-info btn-sm">各机场弱电设备</button>
</body>
</html>