<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="20x20" href="/static/icon/plane.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>创建项目</title>
    <style type="text/css">
        .tight {
            padding: 0px;
            margin: 0px;
        }

        .input-group-sm {
            margin-bottom: 2px;
        }
        .input-group-text{
            display:inline-block;
            width:140px;
        }
        .wider{
            width: auto;
        }
        .form-control{
            width: auto;
        }

    </style>
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">{{ page_title }}</h1>
        <hr class="my-4">
        {% block subtitle %}
            这块我也不知道放啥，先留着
        {% endblock %}
    </div>
</div>

<div class="container-fluid" id="div1">
    <div class="row" style="min-height: 600px">
        <div class="col-sm-3">
            <h5>{{ request.session.chinesename }}欢迎回来</h5>
            <div><a href="/ZHZ/logout/">登出</a></div>
            <hr class="my-4">
            <p>在本页面中，汇集了查看常见信息的内容，目前仅为部分，如需增加能容，请提供详细需求，并发送邮件到397703547@qq.com</p>
            {% include 'base1_left_choiceButton.html' %}
            <div style="width: 100%">
                {{ left_title }}
                <div id="airportfind">
                    {# 用VUE 实现 抓取列表#}
                    {% verbatim notesblock %}
                        <form class="row g-3">
                            <div class="col-auto">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                       value="查找内容，输入机场、编号均可" style="width: 25em">
                            </div>
                            <div class="col-auto">
                                <input name="findtext" type="text" class="form-control" id="inputPassword2"
                                       placeholder="查找内容" v-model="findtext">
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-primary" style="color: azure" @click="findtextdata">查找</a>
                            </div>
                            <p v-if="findtextready">查找{{ findtextready }}内容结果如下({{ airports.length }}条)：</p>
                        </form>
                        <ul v-for="onedata in airports" style="padding-left: 0px">
                            <div >
                                <span class="input-group-text wider" id="basic-addon1">项目名称：{{ onedata.p_name }}</span>

                            </div>
                            <div >
                                <span class="input-group-text wider" id="basic-addon1">项目编号：{{ onedata.p_no }}</span>

                            </div>
                        </ul>
                    {% endverbatim notesblock %}
                </div>
                <script>
                    var Vue = new Vue({
                        el: "#airportfind",
                        data: {
                            message: "点击项目，进入项目页面添加撰写日志",
                            airports: "",
                            findtext: '',
                            findtextready: '',
                        },
                        methods: {
                            findtextdata: function () {
                                //在methods内部访问data中的数据：this.属性名
                                var that = this;
                                console.log("gogogo");  // 'todo'
                                that.findtextready = that.findtext;
                                that.findtext = "";
                                if (that.findtextready != "") {
                                    let url = '/ZHZ/airportfind/' + that.findtextready + '/';
                                    console.log(url);
                                    axios.get(url).then(
                                        function (response) {
                                            console.log(response.data); //看返回内容
                                            that.airports = response.data.AirPortfinded
                                        },
                                        function (err) {
                                        }
                                    );
                                } else {
                                    that.airports = "";
                                }

                            },
                        },

                    })

                </script>

            </div>
        </div>
        <div class="col-sm-9">
            {{ right_title }}

            <div class="wider" style="padding: 25px;width: 800px" id="new_tag">

                <form action="/ZHZ/np_creat_NP_post" method="post">
                    {% csrf_token %}
                    <h5>请在下方输入要创建的项目信息</h5>
                    <p><input type="hidden" name="page" value="{{ page_title }}"></p>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">项目名称</span>
                        <input type="text" name="NewProject_name" class="form-control wider" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入名称" required="required">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">签约合同编号</span>
                        <input type="text" name="Contracts_no" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="未到签合同步骤可不填写">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">项目性质</label>
                        <select name="NewProject_type" class="form-select" id="inputGroupSelect01">
                            <option selected>请点击选择...</option>
                            <option value="检测类">检测类</option>
                            <option value="外包类">外包类</option>
                            <option value="配合类">配合类</option>
                            <option value="其他类">其他类</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">项目进展情况</label>
                        <select name="NewProject_status" class="form-select" id="inputGroupSelect01">
                            <option selected>请点击选择...</option>
                            <option value="进行中">进行中</option>
                            <option value="已签约">已签约</option>
                            <option value="已作废">已作废</option>
                            <option value="已配合完毕">已配合完毕</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">招标控制价</span>
                        <input type="text" name="money_price_control" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入招标控制价（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">购买招标文件费</span>
                        <input type="text" name="monney_buy_biddingDoc" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入购买招标文件费用（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">投标保证金</span>
                        <input type="text" name="money_Bid_security_fee" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入投标保证金（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">开标室使用费用</span>
                        <input type="text" name="money_use_room_fee" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入开标室费用（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">招标代理服务费</span>
                        <input type="text" name="money_agency_service_fee" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入招标代理服务费（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">交易服务费</span>
                        <input type="text" name="money_transaction_service_fee" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入交易服务费（元）" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">履约保证金</span>
                        <input type="text" name="money_Performance_bond" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入履约保证金（元）" >
                    </div>


                    <div class="input-group-sm">
                        <textarea type="text" name="note_one" class="form-control" aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-sm" placeholder="项目背景介绍（2000字内）" cols="20"
                                  rows="5"
                                  aria-describedby="basic-addon1"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">机场名称</span>
                        <input type="text" name="p_name" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入机场名称，名字可从左侧查询（非机场项目可不填）">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">机场编号</span>
                        <input type="text" name="p_no" class="form-control" aria-label="Sizing example input"
                               aria-describedby="basic-addon1" placeholder="输入机场编号，编号可从左侧查询（非机场项目可不填）">
                    </div>
                    <p><input type="submit" value="创建"></p>
                </form>
            </div>


        </div>
    </div>


</div>
<div id="footer">
    {% include 'footers.html' %}
</div>


</body>

</html>