<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="20x20" href="/static/icon/plane.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .jumbotron {
            background-image: url({% static "imgs/planport.jpg" %});
            background-size: 100%;
            background-position: bottom;
        }

        H1 {
            color: white;
            font-weight: 800;
            padding-left: 1em;
        }
    </style>
    <title>合同汇总</title>
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">{{ page_title }}</h1>
        <hr class="my-4">
        {% block subtitle %}<br>
        {% endblock %}
    </div>
</div>

<div class="container-fluid" id="div1">
    <div class="row">
        <div class="col-sm-3">
            <h5>{{ request.session.user_name }}欢迎回来</h5>
            <div><a href="/demo/logout/">登出</a></div>
            <hr class="my-4">
            {% include 'base1_left_choiceButton.html' %}
            <div class="alert alert-secondary" role="alert" style="margin-top: 20px">
                本页面按创建时间展示所记录的项目，左侧下方为近期记录的日志；右侧为具体项目，每个项目可以点击进入查看日志详情、联系人、日志内容等。
            </div>
            {#            <div style="width: 100%;background:whitesmoke;padding: 5px;margin-top: 20px">#}
            {#                <h4>最新项目日志一览(近期50条)</h4>#}
            {#                <p>点击日志可进入对应项目查看所有日志</p>#}
            {#                <div id="notes_look">#}
            {#                     用VUE 实现 抓取列表#}
            {#                    {% verbatim notesblock %}#}
            {#                        <ul class="list-group list-group-flush" v-for="(onedata , index) in notes" v-if="index < 50"#}
            {#                            :key="onedata" style="width: 95%;">#}
            {##}
            {#                            <a :href="'newprojectone/'+onedata.NewProjectID+'/'"#}
            {#                               class="list-group-item list-group-item-action shadow-sm"#}
            {#                               style=" margin: 5px;padding: 5px;background-image: linear-gradient(to bottom right,  white 0%,lightcyan 100%);"#}
            {#                               target="_blank">#}
            {#                                <p id="logtitle" style="font-size: 8px;color: darkslateblue;margin-bottom: 0px">{{ onedata.NewProjectID }}:<span>{{ onedata.NewProject_name }}</span>#}
            {#                                </p>#}
            {#                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"#}
            {#                                     class="bi bi-pencil-fill" viewBox="0 0 16 16">#}
            {#                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>#}
            {#                                </svg>#}
            {#                                <span id="logtime" class="badge bg-light"#}
            {#                                      style="font-size: 8px;color: steelblue">{{ onedata.c_time.substring(0,10) }}#}
            {#                                    {{ onedata.c_time.substring(12,16) }}</span>#}
            {#                                <div class="container-s" style="display: inline-block;font-size: 12px;color: darkslateblue">{{ onedata.note_one }}</div>#}
            {#                            </a>#}
            {##}
            {#                        </ul>#}
            {#                    {% endverbatim notesblock %}#}
            {#                </div>#}
            {#                <script>#}
            {#                    var Vue = new Vue({#}
            {#                        el: "#notes_look",#}
            {#                        data: {#}
            {#                            message2: "？？？",#}
            {#                            notes: "",#}
            {##}
            {#                        },#}
            {#                        created: function () {#}
            {#                            var that = this;#}
            {#                            let url = '/ZHZ/np_all_new_notes_json';#}
            {#                            axios.get(url).then(#}
            {#                                function (response) {#}
            {#                                    console.log(response.data); //看返回内容#}
            {#                                    that.notes = response.data.notes#}
            {##}
            {#                                    //that.classic = response.data.经典#}
            {#                                    //console.log(response.data.经典); //看返回内容#}
            {#                                },#}
            {#                                function (err) {#}
            {#                                }#}
            {#                            );#}
            {##}
            {#                        },#}
            {##}
            {#                    })#}
            {##}
            {#                </script>#}
            {##}
            {##}
            {#            </div>#}
        </div>
        <div class="col-sm-9">
            {{ airportsmap |safe }}
            {{ right_title }}

            <div id="app">
                {# 用VUE 实现 抓取列表#}
                {% verbatim myblock %}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ message }}


                    <form class="row g-3">
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                   value="查找内容，输入机场、合同、编号、项目经理、状态均可" style="width: 25em">
                        </div>
                        <div class="col-auto">
                            <input name="findtext" type="text" class="form-control" id="inputPassword2"
                                   placeholder="查找内容" v-model="findtext">
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" style="color: azure" @click="findtextdata">查找</a>
                        </div>
                        <p v-if="findtextready">查找{{ findtextready }}内容结果如下：</p>
                    </form>

                    <p>共有项目{{ datas.length }}个</p>
                    <p class="alert alert-primary" role="alert">
                        点击查看项目的百度词条内容。
                    </p>
                    <ul class="list-group list-group-flush" v-for="(onedata , index)  in datas" :key="onedata">
                    <a :href="'https://baike.baidu.com/item/'+onedata.p_name"
                       class="list-group-item list-group-item-action shadow-sm" style="margin: 2px" target="_blank">
                        <div style="width:20%;display: inline-block;margin-right: 20px">编号：{{ onedata.no }}</div>
                        <div style="width:70%;display: inline-block">名称：{{ onedata.name }}</div>
                        <br>
                        <div style="width:40%;display: inline-block">机场称：{{ onedata.p_name }}</div>
                        <div style="width:40%;display: inline-block;margin-right: 20px">机场号：{{ onedata.p_no }}</div>
                        <br>

                        <div style="width:40%;display: inline-block">项目经理：{{ onedata.manager_name }}</div>
                        <br>
                        <div style="width:20%;display: inline-block">当前状态：{{ onedata.project_status }}</div>
                        <div style="width:20%;display: inline-block">业绩证明：{{ onedata.proof }}</div>
                        <div style="width:40%;display: inline-block">甲方：{{ onedata.first_party }}</div>
                        <br>
                        <div style="width:100%;display: inline-block;color:lightslategrey">范围：{{ onedata.contract_content }}</div>


                    </a>

                {% endverbatim myblock %}
            </div>


        </div>
    </div>


</div>
<div id="footer" style="padding: 0px">
    {% include 'footers.html' %}
</div>
</body>
<script>
    var Vue = new Vue({
        el: "#app",
        data: {
            message: "点击合同，查看机场的百度百科知识",
            datas: "",
            findtext: '',
            findtextready: '',

        },
        created: function () {
            var that = this;
            let url = '/ZHZ/contractsJson';
            axios.get(url).then(
                function (response) {
                    console.log(response.data.AllContracts); //看返回内容
                    that.datas = response.data.AllContracts

                    //that.classic = response.data.经典
                    //console.log(response.data.经典); //看返回内容
                },
                function (err) {
                }
            );

        },
        methods: {
            findtextdata: function () {
                //在methods内部访问data中的数据：this.属性名
                var that = this;
                console.log("gogogo");  // 'todo'
                that.findtextready = that.findtext;
                that.findtext = "";
                if (that.findtextready != "") {
                    let url = '/ZHZ/contractsfind/' + that.findtextready + '/';
                    console.log(url);
                    axios.get(url).then(
                        function (response) {
                            console.log(response.data); //看返回内容
                            that.datas = response.data.contractsfinded
                        },
                        function (err) {
                        }
                    );
                } else {
                    let url = '/ZHZ/contractsJson';
                    axios.get(url).then(
                        function (response) {
                            console.log(response.data); //看返回内容
                            that.datas = response.data.AllContracts
                        },
                        function (err) {
                        }
                    );
                }

            },
        },

    });
</script>


</html>