<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="20x20" href="/static/icon/plane.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>NewPorject管理</title>
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">{{ page_title }}</h1>
        <hr class="my-4">
        {% block subtitle %}<br>
        {% endblock %}
    </div>
</div>

<div class="container-fluid" id="div1">
    <div class="row">
        <div class="col-sm-3">
            <h5>{{ request.session.user_name }}欢迎回来</h5>
            <div><a href="/demo/logout/">登出</a></div>
            <hr class="my-4">
            <p>在本页面中，汇集了查看常见信息的内容，目前仅为部分，如需增加能容，请提供详细需求，并发送邮件到397703547@qq.com</p>
            {% include 'base1_left_choiceButton.html' %}
            <div style="width: 100%;background-color: lightyellow" >
                <h4>最新项目日志一览(近期50条)</h4>
                <p>点击日志可进入对应项目查看所有日志</p>
                <div id="notes_look">
                    {# 用VUE 实现 抓取列表#}
                    {% verbatim notesblock %}
                        <ul class="list-group list-group-flush" v-for="(onedata , index) in notes" v-if="index < 50" :key="onedata" style="width: 95%;">

                            <a :href="'newprojectone/'+onedata.NewProjectID+'/'"
                               class="list-group-item list-group-item-action shadow-sm" style=" margin: 5px;padding: 5px;background-color: azure"
                               target="_blank">
                                <div style="font-size: 8px;color: cornflowerblue">{{ onedata.NewProjectID }}</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                     class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                                <span class="badge bg-light"
                                      style="font-size: 8px;color: lightskyblue">{{ onedata.c_time.substring(0,10) }}
                                    {{ onedata.c_time.substring(12,16) }}</span>
                                <div style="width:8em;display: inline-block;color: lightskyblue">{{ onedata.note_one }}</div>
                            </a>

                        </ul>
                    {% endverbatim notesblock %}
                </div>
                <script>
                    var Vue = new Vue({
                        el: "#notes_look",
                        data: {
                            message2: "？？？",
                            notes: "",

                        },
                        created: function () {
                            var that = this;
                            let url = '/ZHZ/np_all_new_notes_json';
                            axios.get(url).then(
                                function (response) {
                                    console.log(response.data); //看返回内容
                                    that.notes = response.data.notes

                                    //that.classic = response.data.经典
                                    //console.log(response.data.经典); //看返回内容
                                },
                                function (err) {
                                }
                            );

                        },

                    })

                </script>


            </div>
        </div>
        <div class="col-sm-9">
            {{ right_title }}
            <div>
                <a href="/ZHZ/np_creat_NEWPROJECT" target="_blank" type="button" style="width: 15em"
                   class="btn btn-outline-warning">新建项目</a>

            </div>
            <div id="app">
                {# 用VUE 实现 抓取列表#}
                {% verbatim myblock %}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
                    {{ message }}
                    <p>共有项目{{ datas.length }}个</p>
                    <ul class="list-group list-group-flush" v-for="onedata in datas" :key="onedata">
                        <a :href="'newprojectone/'+onedata.NewProjectID+'/'"
                           class="list-group-item list-group-item-action shadow-sm" style="margin: 2px" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
                                <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
                            </svg>
                            <div style="width:8em;display: inline-block">{{ onedata.NewProjectID }}</div>
                            <div style="width:20em;display: inline-block">{{ onedata.NewProject_name }}</div>
                            <div style="width:6em;display: inline-block">{{ onedata.NewProject_status }}</div>
                            <div style="width:5em;display: inline-block">{{ onedata.NewProject_type }}</div>
                            <div style="width:12em;display: inline-block">{{ onedata.p_name }}</div>
                            <span class="badge bg-secondary">{{ onedata.c_time.substring(0,10) }}</span>
                            <span class="badge bg-light text-dark"
                                  style="margin-right: 3px">{{ onedata.c_time.substring(12,16) }}</span>
                            <div class="badge bg-dark" style="text-align: left;width:13em;display: inline-block">
                                合同号：{{ onedata.Contracts_no }}</div>
                        </a>

                    </ul>
                {% endverbatim myblock %}
            </div>


        </div>
    </div>


</div>
<div id="footer">
    {% include 'footers.html' %}
</div>
</body>
<script>
    var Vue = new Vue({
        el: "#app",
        data: {
            message: "点击项目，进入项目页面添加撰写日志",
            datas: "",

        },
        created: function () {
            var that = this;
            let url = '/ZHZ/newprojectjson';
            axios.get(url).then(
                function (response) {
                    console.log(response.data); //看返回内容
                    that.datas = response.data.projects

                    //that.classic = response.data.经典
                    //console.log(response.data.经典); //看返回内容
                },
                function (err) {
                }
            );

        },

    });
</script>


</html>