<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagename</title>
</head>
<body>
{% extends 'moban_page_base1.html' %}
{% block body_left %}
<p>如果这句话是中文的呢，也许可以自动换行.一串字母不行</p>
{% endblock body_left %}

{% block body_right %}
<div class="row row-cols-1 row-cols-md-3">
{% for a,name,dates,where,class,leftdays in dictsss %}
    <div class="col mb-4 ">
        <div class=" card text-white bg-warning h-100 " style="max-width: 18rem;">
            <div class="card-header">{{ name }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ dates }}</h5>
                <h1>还有<span style="color:red;">{{ leftdays }}</span>天</h1>
                <p class="card-text">{{ where }}</p>
                <p class="card-text">{{ class }}</p>
            </div>
        </div>
    </div>
    
    

{% endfor %}
</div>
{% endblock body_right %}
</body>
</html>