<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/kaoshiicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>{{ name }}</title>

    <style>
        #bz {
            padding-top: 20px;
            color: lightslategray;
        }

        body {
            background: #fff;
        }

        .title {
            font-size: 20px;
            border-bottom: 1px solid #ededed;
            padding-top: 30px;
            padding-bottom: 20px;
        }

        .answer {
            font-size: 16px;
            border-bottom: 1px solid #ededed;
            padding-bottom: 20px;
        }

        .belong {
            color: #999999;
        }

        .page {
            color: #999999;
        }

        #titles {
            margin: 3px auto;
            border-radius: 10px;
            max-width: 98%;
            height: 530px;
            text-align: justify;
            padding: 8px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        #buttons {
            text-align: center;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

<div id="gongjiapp">
    {% verbatim %}
    <div id="titles">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/kaoshi/ggjc">正序刷</a></li>
            <li role="presentation" class="active"><a href="/kaoshi/ggjc/random">乱序刷</a></li>
            <li role="presentation" class="buttons "><a href="/kaoshi">{{ message }}</a></li>
            <li role="presentation" class="buttons "><a href="/demo/logout/">注销登出</a></li>
        </ul>
        <br>
        <h4>公共基础题目及答案 <span class="label label-success">Go</span> <span class="label label-warning" @click="getdoc">?</span></h4>

        <div class="container">
            <p class="title">{{ dic.question }}</p>
            <ul class="answer">
                <li v-for="a in dic.answer">
                    {{a}}
                </li>
            </ul>

            <p class="belong">{{ dic.belong }}</p>
            <p class="page">{{ dic.pages }}</p>
        </div>

    </div>
    <div id="buttons">

        <button @click="add">下一题</button>
        <br>
        <p>题号:<span>{{ number }} / </span>
            剩余:<span>{{ index_list_lenth }} / </span>
            <span>{{ count }}</span></p>
        <br>

        <div>
            <span id="basic-addon3">请输入题号跳转</span>
            <input v-model="number" @keyup.enter="jump" placeholder="请输入题号跳转" type="text" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>


    {% endverbatim %}
</div>


<script>
    const app = new Vue({
        el: "#gongjiapp",
        data: {
            message: "返回选择",
            index_list: {{index_list}},
            index_list_lenth:{{ count }},
            down_list: [-2, -1],
            minus: [-3, -4],
            count:{{ count }},
            dic: {},
            number: 0, //这是判定list的位置的
            num: 0,//这是传向后端取数的
            docu:'',//document

        },
        methods: {
            search: function () {
                console.log('点个试试');
            },
            add: function () {
                var that = this;
                // 1.随机取出一个
                let out = []
                while (out.length < 1) {
                    var temp = (Math.random() * this.index_list.length) >> 0;
                    out.push(this.index_list.splice(temp, 1));  //选出并删掉
                }
                this.number = out[0][0]
                console.log(this.index_list.length);  //查看长度
                // this.index_list.splice(this.index_list.indexOf(this.number), 1) //删除1个选出的

                this.index_list_lenth = this.index_list.length;

                console.log("选出的题号:", this.number);

                axios.get("/kaoshi/ggjc_api/?num=" + this.number).then(
                    function (response) {
                        //console.log(response); //看返回内容
                        //console.log(response.data.data[0].url);  //播放链接
                        that.dic = response.data;
                        // console.log(this.dic);

                    },
                    function (err) {
                    }
                );
                // 2.看过的题加入这个题号

                that.down_list.push(this.number);
                // console.log("downList有:", this.down_list)
                // console.log("看过加:", this.number)


            },
            jump: function () {
                var that = this;
                console.log("jump to", this.number)
                axios.get("/kaoshi/ggjc_api/?num=" + this.number).then(
                    function (response) {
                        //console.log(response); //看返回内容
                        //console.log(response.data.data[0].url);  //播放链接
                        that.dic = response.data;
                        // console.log(this.dic);
                    },
                    function (err) {
                    }
                );
            },
            getdoc:function(){
                var that = this;
                console.log("get document")
                axios.get("/kaoshi/doc_api/?type=ggjc").then(
                    function (response) {
                        console.log(response); //看返回内容
                        //console.log(response.data.data[0].url);  //播放链接
                        that.docu = response.data;
                        console.log(that.docu);
                        alert(that.docu)
                    },
                    function (err) {
                    }
                );
            },
        }
    })
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>