<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/kaoshiicon.png">
    <title>交通工程考试大纲</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="jumbotron">
    <div class="container">
        <div id=div_big>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/kaoshi/gjdg">公共基础大纲</a></li>
                <li role="presentation"><a href="/kaoshi/jtml">交通工程目录</a></li>
                <li role="presentation"><a href="/kaoshi/gjzsdjj">公共基础知识点精简</a></li>
                <li role="presentation"><a href="/kaoshi">返回考试主页</a></li>
                <li role="presentation" class="buttons "><a href="/demo/logout/">注销登出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h2>2019年公路水运考试大纲：交通工程</h2>
    <h2>交通工程</h2>
    <p><strong>【考试目的】</strong></p>
    <p>检验应考人员对交通工程(含交通安全设施与机电工程)产品检测和工程质量检验的相关理论、标准规范、检验检测方法的掌握情况，以及对仪器设备保养、调试和操作的能力，依据标准规范完成产品检测和工程质量检验、处理检测数据、编制检验检测报告的能力。
    </p>
    <p><strong>【考试内容】</strong></p>
    <h3>一、交通工程基础</h3>
    <p>(一)交通工程概论。</p>
    <p>(二)交通工程检测基础。</p>
    <p>(三)交通工程标准体系：交通工程标准分类、级别、组成。</p>
    <p>(四)抽样基础：抽样检验风险和基本要求。</p>
    <p>(五)数据处理与通用试验方法。</p>
    <p class="back2">1.几何参数、涂层厚度、力学性能、光学(光度和色度)性能、电压、电流、电阻、接地电阻、电气绝缘强度的测量原理、仪器设备、方法和注意事项;</p>
    <p class="back2">2.环境温度试验、环境湿度试验的要求、严酷等级、仪器设备、方法和注意事项;</p>
    <p class="back2">3.盐雾试验的原理、分类和评价方法;中性盐雾试验的标准要求、仪器设备、步骤和操作方法;</p>
    <p class="back2">4.耐候性试验分类;</p>
    <p class="back2">5.机械振动试验的仪器设备、严酷等级、操作步骤、注意事项;</p>
    <p class="back2">6.IP防护等级的分类、代码和试验仪器设备及试验方法;</p>
    <p class="back2">7.公路交通工程钢构件防腐涂层分类、质量要求及检测方法;</p>
    <p class="back2">8.单位工程、分部工程、分项工程的划分及内容，单位工程、分部工程、分项工程质量的评定方法。</p>
    <h3>二、交通安全设施</h3>
    <p>(一)道路交通标志</p>
    <p class="back2">1.交通标志的颜色、形状、图形符号;交通标志的分类、基本要求、设置原则;</p>
    <p class="back2">2.道路交通标志产品的组成、技术要求、试验方法、检验规则。</p>
    <p>(二)交通标志反光膜：产品的结构、分类、技术要求、试验方法、检验规则。</p>
    <p>(三)道路交通标线。</p>
    <p class="back2">1.道路交通标线分类及颜色、形状;</p>
    <p class="back2">2.道路交通标线工程质量要求、检测抽样方法、检验评定标准及检测方法。</p>
    <p>(四)路面标线涂料及玻璃珠</p>
    <p class="back2">1.路面标线涂料的产品分类、技术要求、试验方法、检验规则;</p>
    <p class="back2">2.路面标线用玻璃珠的产品分类、技术要求、试验方法、检验规则。</p>
    <p>(五)公路安全护栏</p>
    <p class="back2">1.公路安全护栏的功能、分类和防护等级;</p>
    <p class="back2">2.波形梁钢护栏产品的分类及组成、技术要求、试验方法、检验规则。</p>
    <p>(六)隔离设施</p>
    <p class="back2">1.隔离设施的分类、设置原则和构造要求;</p>
    <p class="back2">2.隔离栅产品分类、结构尺寸、技术要求、试验方法和检验规则。</p>
    <p>(七)防眩设施</p>
    <p class="back2">1.防眩设施的形式和设置原则;防眩遮光角计算;</p>
    <p class="back2">2.防眩板产品的分类、技术要求、试验方法和检验规则。</p>
    <p>(八)突起路标：</p>
    <p class="back2">1.突起路标的功能、布设原则;</p>
    <p class="back2">2.突起路标产品的分类与组成、技术要求、试验方法、检验规则。</p>
    <p>(九)轮廓标</p>
    <p class="back2">1.轮廓标的设置原则、布设间距;</p>
    <p class="back2">2.轮廓标产品分类与结构、技术要求、试验方法、检验规则。</p>
    <p>(十)通信管道</p>
    <p class="back2">1.公路常用通信管道的类型;</p>
    <p class="back2">2.高密度聚乙烯硅芯塑料管产品结构、分类与标记、技术要求、试验方法、检验规则。</p>
    <p>(十一)交通安全设施工程验收检测。</p>
    <h3>三、机电工程</h3>
    <p>(一)监控设施</p>
    <p class="back2">1.交通监控系统的组成及功能作用;</p>
    <p class="back2">2.车辆检测器的分类、主要参数指标;环形线圈车辆检测器的技术要求和试验方法;</p>
    <p class="back2">3.气象检测器的分类、主要参数指标;能见度检测器的技术要求和试验方法;</p>
    <p class="back2">4.闭路电视监视系统的组成、作用;视频传输通道主要指标及测量方法;</p>
    <p class="back2">5.可变标志的用途、显示方式、版面要求、设置原则;现行国家标准中可变标志(含可变信息标志、可变限速标志、车道控制标志、信号灯)规定的分类与组成、技术要求、试验方法、检验规则;</p>
    <p class="back2">6.监控中心功能、设备组成与作用;</p>
    <p class="back2">7.监控系统计算机网络的组成、网络布线分类、系统性能要求及其测试方法;</p>
    <p class="back2">8.监控设施各分项工程质量检验评定标准的内容。</p>
    <p>(二)通信设施</p>
    <p class="back2">1.通信网的主要分类与构成;高速公路通信系统的功能作用与特点;</p>
    <p class="back2">2.基带传输与频带传输的区分;数据电路与数据链路的区别;单工、半双工、全双工的特点;</p>
    <p class="back2">3.光电缆线路分类;光纤数字传输系统的构成;</p>
    <p class="back2">4.数字程控交换系统、紧急电话系统和通信电源的组成、功能与作用;</p>
    <p class="back2">5.光电缆线路、光纤数字传输设备、数字程控交换设备、紧急电话系统、通信电源设备的主要技术参数、测试仪器和方法;</p>
    <p class="back2">6.分项工程质量检验评定标准的内容。</p>
    <p>(三)收费设施</p>
    <p class="back2">1.收费的制式及方式;收费系统的三级构成模式;ETC的组成与作用;</p>
    <p class="back2">
        2.收费用电动栏杆、公路收费用费额显示器、公路收费车道控制机、封闭式收费用非接触式IC卡收发卡机、公路收费用票据打印机、收费专用键盘、汽车号牌视频自动识别系统等车道设备产品标准规定的组成分类及型号、技术要求、试验方法、检验规则;
    </p>
    <p class="back2">3.收费设施各分项工程质量检验评定标准的内容。</p>
    <p>(四)低压配电设施</p>
    <p class="back2">1.公路沿线用电设施的特点、用电负荷等级、常用接线方式;</p>
    <p class="back2">2.低压配电设施、电能质量、应急电源的技术要求;</p>
    <p class="back2">3.太阳能供电系统的组成及分类;</p>
    <p class="back2">4.低压配电设施各分项工程质量检验评定标准的内容。</p>
    <p>(五)照明设施</p>
    <p class="back2">1.公路照明作用与构成、常用术语、评价指标;</p>
    <p class="back2">2.公路照明等级、照明质量、灯具和光源、照明布设、供电安全控制等要求;</p>
    <p class="back2">3.照度、亮度的测量要求和测量方法;</p>
    <p class="back2">4.升降式高杆照明装置、公路LED照明灯具的组成分类及型号、技术要求、试验方法、检验规则;</p>
    <p class="back2">5.照明设施工程质量检验评定标准的内容。</p>
    <p>(六)隧道机电设施</p>
    <p class="back2">1.隧道机电系统构成;</p>
    <p class="back2">2.环境检测设备、公路隧道火灾报警系统、本地控制器的技术要求和试验方法;通风设施、照明设施的基本要求及测量方法;</p>
    <p class="back2">3.隧道机电设施各分项工程质量检验评定标准的内容。</p>
</div>
</body>