<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公共基础知识点</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/kaoshiicon.png">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        p{
            margin-top: 20px;
            line-height: 1.8em;
        }
    </style>
</head>
<body>


<div class="jumbotron">
    <div class="container">
        <div id=div_big>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/kaoshi/gjdg">公共基础大纲</a></li>
                <li role="presentation"><a href="/kaoshi/jtml">交通工程目录</a></li>
                <li role="presentation"><a href="/kaoshi/gjzsdjj">公共基础知识点精简</a></li>
                <li role="presentation"><a href="/kaoshi">返回考试主页</a></li>
                <li role="presentation" class="buttons "><a href="/demo/logout/">注销登出</a></li>
            </ul>
        </div>
    </div>
</div>
<p id="top"></p>


<div class="list-group">
    <a href="#1" class="list-group-item">第一章概述</a></li>
    <a href="#2" class="list-group-item">第二章公路水运工程试验检测管理</a></li>
    <a href="#3" class="list-group-item">第三章公路水运工程试验检测管理</a></li>
    <a href="#4" class="list-group-item">第四章考试管理</a></li>
    <a href="#5" class="list-group-item">第五章实验室资质认定管理</a></li>
    <a href="#6" class="list-group-item">第六章试验检测常用术语和定义</a></li>
    <a href="#7" class="list-group-item">第七章法定计量单位</a></li>
    <a href="#8" class="list-group-item">第八章数值修约</a></li>
    <a href="#9" class="list-group-item">第九章实验室能力验证</a></li>
    <a href="#10" class="list-group-item">第十章统计技术和抽样技术</a></li>
    <a href="#11" class="list-group-item">第十一章设备检定校准及结果的运用</a>
</div>

<div id="container" class="container" :style="{fontSize:fontsize+'px',}">

        <div class="input_num">
            <button @click="sub">字体减小</button>
            <button @click="add">字体增加</button>
        </div>

        <h3 id="1">第一章概述</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>1985年我国颁布《中华人民共和国计量法》；
        <p>1987发布《计量法实施细则》上二者说明凡是为社会提供公正数据的产品质量检验机构必须经省级以上人民政府计量行政部门计量认证！
        <p>1990年发布《中华人民共和国标准化法》、《标准化法实施条例》1997年首次对公路试验检测做出管理规定《公路工程试验检测机构资质管理暂行办法》之后出台了对人员的管理、培训文件，确定为公路、水运两种；检师、检员两种；明确了执业资格制度。</p>
        <p>2000年《建设工程质量管理条例》</p>
        <p>2002年出台了《水运工程试验检测机构资质管理办法》，确定了材料、结构两专业，甲乙丙三等级,为《办法》奠定了基础。</p>
        <p>2005年在02年的“水运工程试验检测机构资质管理办法”基础上出台了《公路水运工程试验检测管理办法》，首次对公路水运统一要求；建立了等级评定制度；明确了等级划分原则；</p>
        <p>出台了《公路水运工程试验检测机构等级标准》以及《公路水运工程试验检测机构等级评定程序》，增加了公路的桥隧和交通工程检测专项。</p>
        <p>《公路水运试验检测管理办法》规定取得《公路水运工程试验检测机构等级证书》的检测机构可设立工地试验室，承担相应检测任务，并对其检测结果负责。</p>
        <p>为提高试验检测人员的管理及人员的素质，2007年在《办法》基础上出台了《公路水运工程试验检测人员考试办法》</p>
        <p>《等级标准》规定了各等级的检测能力以及与之相对应的人员资格及数量、设备要求、检测用房等。</p>
        <p>其中各等级的检测能力依据《公路工程质量检验评定标准》《水运工程强制性标准》。</p>
        <p></p>
        <p>水运工程沿袭了《水运工程试验检测机构资质管理办法》的要求。</p>
        <p></p>
        <p>试验检测是质量、进度、费用管理的重要手段；确定新材料的使用品质；不断改进施工工艺、流程、质量；确定工程内部、外部质量，消除隐患；可分析工程质量事故原因。</p>
        <p>质量是工程的生命；试验检测是质量的重要组成部分；是工程质量科学管理的重要手段，为工程提供客观、公正、准确的检测数据。</p>
        <p>试验检测的新任务：检测已建成及在建道路桥梁的健康状况，确定科学的养护方法和时间，延长寿命等。</p>
        <p>从勘察设计到施工建设到监控养护都离不开试验检测。</p>
        <p></p>
        <p>试验检测的作用：</p>
        <p>1是质量、进度、费用控制的重要手段；</p>
        <p>2可以确定新材料的品质，发展新技术3可以不断改进工艺，优化施工流程，保证质量4确定工程内在、外观质量，验证施工与设计一致性，消除隐患5为分析工程质量提供佐证，为实事求是处理工程质量事故提供科学依据。</p>
        <p></p>
        <p>它是推进技术进步的先导、是加强质量管理的先行，是严格质量把关的重要关口，也是质量优劣评定的重要依据。</p>
        <p></p>
        <p>是一门新学科，融试验检测基本理论、测试操作技能、公路水运工程相关学科基础知识为一体，是工程设计参数、施工质量管理、施工验收评定、养护管理决策以及各种技术规范和规程修订的主要依据。</p>
        <p></p>


        <h3 id="2">第二章公路水运工程试验检测管理</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>1985年颁布《中华人民共和国计量法》，规定了计量仪器的强制性及非强制性检定，并做出了检定管理办法；
        <p>1987颁布《计量法实施细则》，规定对试验检测机构实行计量认证考核；上二者说明：凡为社会提供公证数据的产品质量检验机构，必须经省级以上人民政府计量行政部门计量认证。</p>
        <p>1990年发布《中华人民共和国标准化法》、《标准化法实施条例》对标准的制定、实施与监督作出了规定。</p>
        <p>2000年《建设工程质量管理条例》加强了对建设工程（交通工程属于此范畴）质量的管理，根据《中华人民共和国建筑法》制定。</p>
        <p>交通试验检测是检测人员依据相应的国家或交通行业规范标准，选择符合要求的仪器设备，对产品的使用性能进行的检测。</p>
        <p>为确保数据准确可靠，除仪器设备需要检定、校准，选择的规范标准正确，操作合服规范要求外，还需依据国家的法律法规和行业管理要求对检测机构进行管理。</p>
        <p></p>
        <p>《计量法》及《实施细则》计量法包括六章：总则；计量基准器具、计量标准器具和计量检定；计量器具管理；计量监督；法律责任；附则。</p>
        <p>国家采用国际单位制，即国家法定计量单位，具体包括国际单位制单位+国家选定的非国际单位制单位。</p>
        <p>其名称和符号由国务院公布。</p>
        <p>国务院1984年2月27发布《关于在我国统一实行法定计量单位的命令》1987年实施《中华人民共和国强制检定的工作计量器具检定管理办法》</p>
        <p>国务院有关主管部门、省、自治区、直辖市人民政府有关主管部门（都是省级以上单位），根据本部门特殊需要，可指定本部门使用的计量标准器具，其各项最高计量标准器具经同级人民政府计量行政部门主持考核合格后使用。</p>
        <p>县级以上人民政府计量行政部门对社会公用计量标准器具；部、企、事业单位使用的最高计量标准器具；用于贸易结算、安全防护、医疗卫生、环境监测方面的列入强制检定范围。</p>
        <p>实行强制检定的仪器目录和管理办法由国务院制定。</p>
        <p>非强制性检定的计量器具，单位应自行定期检定或送其他计量检定机构检定，县以上人民政府对此实施监督。</p>
        <p>计量检定必须按照国家计量检定系统表进行；计量检定必须执行计量检定规程；二者由国务院计量行政部门制定，若没有国家检定规程，国务院有关主管部门和省、自治区、直辖市人民政府计量行政部门分别制定部门检定规程和地方计量检定规程，并向国务院计量行政部门备案。</p>
        <p>国家计量检定系统表：由文字和框图组成的，包括计量基准到各等级计量标准直至工作计量器具检定程序在内的技术规定，简称国家计量检定系统。</p>
        <p>计量检定规程包括计量器具的计量性能、检定项目、检定条件、数据处理等所做的技术规定。</p>
        <p>分为国家检定规程、部门和地方计量检定规程。</p>
        <p></p>
        <p>县级以上计量行政部门可设置计量检定机构或授权其他机构执行检定。</p>
        <p>县级以上计量行政部门依法设置的计量检定机构为国家法定计量检定机构；授权形式：授权专业性或区域性计量检定机构作为法定计量检定机构；授权有关技术机构建立社会公用计量标准；授权某一部门或单位的计量检定机构，对其内部使用的强制检定的计量器具执行强制检定；授权有关技术机构，承担法律法规规定的其他检定、测试任务。</p>
        <p>执行强制性检定以及“其他检定、测试任务”的人员，必须经县级以上人民政府计量检定部门考核合格，发给计量检定证件，取得执行检定、测试任务资格。</p>
        <p></p>
        <p>计量器具包括：计量标准、工作计量器具。</p>
        <p>强制检定是指：县以上人民政府制定的法定计量检定机构或授权的计量检定机构对强制性检定的计量器具实施的定点、定期检定。</p>
        <p></p>
        <p>强制检定的计量标准由主持考核该项计量标准的有关人民政府计量行政部门指定的计量检定机构进行检定；强制性检定的工作计量器具由当地县（市）人民政府计量检定部门指定的计量检测机构进行检定，当地不能检定的，由上一级指定机构进行检测。</p>
        <p>检定周期由实施检定的机构根据计量检定规程结合实际情况来确定。</p>
        <p>检定工作遵循经济合理原则，就地就近进行，不受行政区域和部门管辖限制。</p>
        <p>因准确度纠纷，应以国家计量基准器具或社会公用计量标准器具检定的数据为准。</p>
        <p>由计量器具准确度引起的纠纷为计量纠纷，计量纠纷的依据是计量基准和社会公用计量标准检定的数据。</p>
        <p>仲裁检定。</p>
        <p></p>
        <p>凡为社会提供公证数据的产品质量检验机构，必须经省级以上人民政府计量行政部门计量认证（考核：计量检定、测试能力、可靠性）。</p>
        <p>认证内容包括：仪器设备的性能；工作环境及人员的操作技能；保证量值统一、准确的措施及检测数据公正可靠的管理制度。</p>
        <p>第三方产品检验机构的可信程度表现在：独立于产品的制造销售或至少独立于研究、开发而处于公正地位；具有评价产品质量优劣的技术手段；</p>
        <p>出具的检定、测试数据得到社会的承认。</p>
        <p></p>
        <p>“公正数据”可作仲裁、裁决所用，具有真实性、科学性、合法性；量值必须溯源到国家计量基准；必须在省级以上计量行政部门考核合格。</p>
        <p>不合格的计量器具：无检定合格印、证；超过检定周期；检定不合格者。</p>
        <p></p>
        <p>中华人民共和国标准化法实施条例《中华人民共和国标准化法实施条例》在职责、标准制定的有效性、标准的实施与监督方面做了规定。</p>
        <p>国务院标准化行政主管部门统一管理全国标准化工作；其内容有8：组织贯彻国家有关法律法规；组织制定全国标准化工作规划、计划；指导有关行政主管部门和省、自治区、直辖市的标准化工作，协调问题组织制定国家标准；组织实施标准；监督检查标准实施情况；统一管理全国产品质量认证工作；负责对有关国际标准化组织的业务联系有关行政主管部门分管本部门、本行业的标准化工作。</p>
        <p>内容有7：贯彻国家法律法规；制定本部门、本行业工作计划；草拟国家标准，组织制定行业标准；指导省、直辖市、自治区标准化工作；监督检查标准实施情况；分工管理本行业的产品质量认证工作；组织本部门、本行业实施标准。</p>
        <p></p>
        <p>国务院标准化行政主管部门编制国家标准，组织起草，审批，编号，发布；国务院有关行政主管部门编制行业标准；组织起草，审批，编号，发布；报国务院标准化行政主管部门备案；有国标后行标自行废止；地方标准由省、自治区、直辖市人民政府标准化行政主管部门编制，组织起草，审批，编号，发布，并报国务院标准化行政主管部门和国务院有关行政主管部门备案；在相应国家标准、行业标准实施后，地方标准自行废止。</p>
        <p>企业标准由企业编制，并按省、自治区、直辖市人民政府的规定备案。</p>
        <p></p>
        <p>国家标准、行业标准分为强制和推荐性标准，目录由国务院标准化行政主管部门和国务院有关行政主管部门确定。</p>
        <ul>
            <li>1药品、食品卫生、兽药；</li>
            <li>2国家需要控制的重要产品质量标准；</li>
            <li>3互换配合标准；</li>
            <li>4通用的实验、检验方法标准；</li>
            <li>5重要的通用技术属于、符号、代号和制图方法；</li>
            <li>6环境保护的污染物排放标准和环境质量标准；</li>
            <li>7工程建设的质量、安全、卫生标准及国家需要控制的其他工程建设标准</li>
            <li>8产品及产品生产、储运、使用过程中的安全、卫生标准，劳动安全、卫生标准、运输安全标准等县级以上标准化行政主管部门可设立检验机构或授权其他单位检验机构实施产品是否合服标准的检验。</li>
        </ul>
        <p>（计量法第20条，第四页，区分，计量行政部门）在处理某产品是否合服标准时，以县级以上标准化行政主管部门设立或授权的检验机构的数据为准。</p>
        <p>这些机构的评审考核是按照审查认可（验收）进行；</p>
        <p>产品质量法产品质量法：其中的产品是指经过加工、制作用于销售的产品建设工程不适用于产品质量法，但涉及到的建筑材料、配件、设备适用国务院产品质量监督管理部门负责全国产品质量监督管理工作；国务院有关部门在各自的职责范围内负责产品质量监督管理工作；县级以上人民政府质量监督管理部门负责本行政区内的产品质量监督管理产品质量检验机构必须具备检测条件和能力，经省级以上人民政府产品质量监督管理部门或其授权的部门考核合格后，方能从事检验工作。</p>
        <p>（与计量法22条区分，为社会提供公正数据的实验检测机构由省级以上考核）产品质量监督部门或检测机构不得向社会推荐产品，或监制、监销。</p>
        <p>产品存在缺陷造成人身、财产损失的可追述生产者及销售者的责任，二者按责任归属可互相追责；伪造数据责令改正，可罚检测费用的1倍到3倍，情节严重则吊销执照；检验机构出具虚假证明的对单位处以5-10万元罚款；对直接负责的主管人员或其他责任人处1-5万元罚款，没收违法所得、严重的取消资格；构成犯罪的依法追究刑事责任。</p>
        <p>质量监督部门或其他国家机构推荐产品或监制等违规，上级机关或监察机关责令改正；</p>
        <p>消除影响；没收违法所得；情节严重的对直接负责的主管人员或其他责任人进行行政处分。</p>
        <p>若产品质量检测机构推荐产品或监制等违规，产品质量监督部门责令改正，消除影响，没收违法所得，处违法所得1倍以内的罚款，严重的取消检测资格。</p>
        <p></p>
        <p>为社会提供公正数据的产品质量检验机构必须获得省级以上人民政府计量行政部门的计量认证证书，而质量技术监督系统依法设置或依法授权的产品质量监督检验机构必须获得省级以上人民政府产品质量监督管理部门审查认可（验证）的授权证书。</p>
        <p>交通行业为第三方提供公证数据的检验机构必须获得计量认证证书方可从事检验活动。</p>
        <p>仲裁机构或人民法院可委托检验机构对产品质量进行检定。</p>
        <p></p>
        <p>建设工程质量管理条例《建设工程质量管理条例》：建设工程指土木工程、建筑工程、线路管道、设备安装、装修工程。</p>
        <p>交通建设属于土木工程。</p>
        <p>建设单位不得迫使承包方以低于成本价中标，不得任意压缩合理工期；不得明示、暗示施工单位违反工程建设强制性标准；开工前办理工程质量监督手续；竣工后建设单位组织设计、施工、监理等进行竣工验收；及时整理收集各环节资料，建立健全档案制度，竣工验收后向建设行政主管部门或其他有关部门移交建设项目档案。</p>
        <p></p>
        <p>施工单位必须对建筑材料、建筑构配件、设备和商品混凝土进行检验，检验应有书面记录和专人签字。</p>
        <p>施工单位应做好施工质量检测制度，做好隐蔽工程的质量检查和记录，在隐蔽前应通知建设单位和建设工程质量监督机构。</p>
        <p>对设计结构安全的试块、试件以及有关材料应当在建设单位或工程监理单位监督下取样，并送具有相应资质等级的质量检测单位进行检测。</p>
        <p>施工单位对不合格工程有返修义务，人员需培训、考核合格方能上岗。</p>
        <p></p>
        <p>监理工程师应按要求采取旁站、巡视、平行检验等方式实施监理。</p>
        <p>基本建设程序：先勘察、后设计、再施工国家实行建设工程质量监督管理制度；国务院建设行政主管部门统一监管，铁路、交通、水利等部门分别对各专业进行分工监管。</p>
        <p>县级以上地方人民政府建设行政主管部门对本行政区内的建设工程质量实施监督管理；县级以上铁路、交通水利等有关部门在各自的职责范围内，负责本行政区内的专业建设工程质量的监督管理。</p>
        <p></p>
        <p>国务院建设行政主管部门以及交通、水利等相关部门应加强对有关建设工程质量的法律法规和强制性标准执行情况的监督检查。</p>
        <p></p>

        <h3 id="3">第三章公路水运工程试验检测管理</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>2005年交通部出台了《公路水运工程试验检测管理办法》就检测机构、从业人员资格和工地试验室管理提出明确要求。</p>
        <p>包括：总则、检测机构等级评定、试验检测活动、监督检查、附则目的在于规范公路水运试验检测活动，保证工程质量及人民生命财产安全，这里的试验检测活动包括：试验机构从事试验检测相关活动以及政府部门对检测工作的监督等活动。</p>
        <p>实验检测内容主要指在现场二次加工的材料，是对进场材料的检查。</p>
        <p></p>
        <p>【为保证顺利实施，相继出台了《公路水运工程试验检测机构等级标准》《公路水运工程试验检测机构等级评定程序》《公路水运工程试验检测信用评价管理办法》《关于进一步加强公路水运工程工地试验室管理工作的意见》等文件。</p>
        <p>其中《等级标准》明确了各等级实验室对人员、设备、检测能力、实验用房等标准；《评定程序》规范了等级评定程序；《工地实验室》强调了设立前提是：母体取得了检测机构等级证书。</p>
        <p>】</p>
        <p></p>
        <p>试验检测人员须通过交通部基本建设质量监督总站组织的考试，并具备相关能力、知识且从事试验检测活动的专业人员，分为检测工程师和检测员，试验检测遵循原则：科学、客观、严谨、公正科学：科学的技术手段管理手段；有效的质量保证体系；设备的检查、维护和更新换代；</p>
        <p>对于监督机构表示科学分析影响，采用科学手段加强监管。</p>
        <p>客观：以实施为准绳；严密的工作程序；严守职业道德；不造假。</p>
        <p>严谨：检测活动要考虑周全；规范标准要现行有效；检测程序严密；报告要素齐全；检测依据明确；检测方法得当。</p>
        <p>公正：检测活动不受外界任何因素干扰；独立开展工作；不收行政干扰和利益影响。</p>
        <p>质监机构具体实施试验检测活动的监督管理和落实；质监总站是具体实施检测活动的监管部门，省站为本行政区内试验检测活动的监管部门。</p>
        <p>公路水运检查机构分为公路、水运两个专业，公路：综合类（甲乙丙）和专项（交通工程、桥梁隧道工程）；水运：材料类（甲乙丙）和结构类（甲乙）公路工程综合类甲质监总站评定乙、丙省站评定桥梁隧道工程质监总站交通工程质监总站甲质监总站乙、丙省站甲质监总站乙省站等级评定是一种必要的行业引导和管理手段。</p>
        <p>等级是依据试验检测水平；主要仪器设备；</p>
        <p>水运工程结构专项材料</p>
        <p>检测人员配备情况；试验检测环境等条件划分。</p>
        <p>检测机构等级差异只反映检测参数的多少与检测水平无关；需要满足基本检测要求的低等级实验室，也需要综合性专业性强的专项机构；避免大而全的检测机构数量过多。</p>
        <p></p>
        <p>检测机构等级证书升级须满足：拿证满一年；正常运行并具有相应业绩等级证书有效期5年，提前3个月向原发证机关申请换证；不合格的在6个月内整改；地址等变动须30日内申请变更登记；停业的15日内申请注销；《办法》规定取得等级证书，且通过计量认证可向社会提供试验检测服务，不能超范围出报告。</p>
        <p>（计量法只提出提供公正数据的需通过计量认证）事故鉴定、大型水运工程和高速路项目验收的质量鉴定须由甲级或者相应专项检测能力的机构承担；检测机构应建立样品管理制度，提倡盲样管理；检测机构所承担检测任务不能转包、违法分包。</p>
        <p>技术负责人需是检测工程师；审核、签发应由检测工程师签字。</p>
        <p>不得同时接受业主、监理、施工等多方的试验检测委托。</p>
        <p></p>
        <p>被注销等级的机构2年内不能申报，被降级1年内不能升级；被注销考试合格证书的人员2年内不得考试。</p>
        <p>对机构：警告、限期整改、计入违规记录并公示、直至注销等级；对人员：警告、计入违规记录并公示、直至注销考试合格证书等级评定标准及评定程序等级标准、等级评定程序，2008年更新，2008年11月1日开始实施，包括强制条件（必须满足），非强制参数（>=非强制参数的80%），需要注意：删除、增加了部分参数；对人员和专业提出新要求。</p>
        <p>
            不仅相关人员总数要达标，专业要齐全、达标；甲级乙级丙级交通桥隧人员不少于321672225检师不少于12631012高级不少于61046面积不少于1000600300600800技术负责人高级高级中级高级高级检师检师检师检师检师8年5年5年8年8年质量负责人高级中级中级高级高级检师检师检师检师检师8年5年5年8年8年检师材料公路桥梁隧道交安机电安全甲≥33222乙≥321丙≥111交通---------------64桥隧2---55---------------------------------------水运材料甲乙级丙级结构甲乙人员不少于2085208检师不少于83183高级不少于4141面积不少于800400200400200技术负责人高级高级中级高级高级检师检师检师检师检师8年5年5年8年5年质量负责人高级中级中级高级中级检师检师检师检师检师8年5年5年8年5年检师专业水运材料水运结构地基与基础材料甲≥8材料乙≥3材料丙≥1结构甲≥53结构乙≥21----------------------------------------公路水运技术、质量负责人除甲级以及专项为8年外，其他乙丙工作经验都是5年；公路水运技术负责人除丙级外都是高工；公路水运质量负责人甲级和专项要求高工；----------------------------------------技术负责人负责检测机构的试验检测质量，决定了检测能力和报告的可靠程度，要有发现问题、解决问题的能力，须满足一定职称和工作经历要求；质量负责人负责检测机构管理体系的建立和运行，最好有内审员证，对其工作年限和职称的要求是为了防止重检测轻管理。</p>
        <p>检测用房最小面积包括检测室、养护室、资料室，但不包括办公室、会议室#等级标准参数依据#：公路工程质量检验评定标准；水运工程强制性标准甲级几乎涵盖公路检测所有参数；乙级高速路日常检测需要；丙级中低等路检测；交通安全及机电工程、桥隧突出专业性（包含桥隧的材料及实体检测）。</p>
        <p>综合甲级检测项目19个（包含材料、地基、路基路面、桥梁结构、交通安全设施）；强制性标准不能少；非强制不少于80%，否则少1扣0.5分；总量程20%-80%；仪器精度、数量等达标。</p>
        <p></p>
        <p>评定程序：向省站提交材料省站书面回复受理与否（10工作日）评审合计：受理---初审---现场评审（2天，3~5人）</p>
        <p>提交材料包括：《公路水运工程试验检测机构等级评定申请书》法人证书原件及复印件；质量保证体系文件若通过计量认证，提交认证书副本原件及复印件检测人员考试合格证书和聘用关系原件、复印件所申报检测项目的典型报告材料齐备、规范、符合要求则受理，反之退还材料，并说明理由。</p>
        <p>申请等级属于总站，省站认为可受理，则核查材料后退还资料原件、出具审核意见转送总站；等级属于省站，但个别项目属总站，应申请总站同意，从总站抽取专家进行监督抽查。</p>
        <p></p>
        <p>初审要检查所申请项目范围及设备配备与申请等级相符；人员达标（数量专业职称资格）；设备达标（数量精度检定种类）；规范标准齐全且现行有效（试验方法、评定标准、施工规范、设计标准）；</p>
        <p>检测用房面积达标、布局合理；质量体系（满足规范性、唯一性、系统性、适用性、协调性）增项申请：必须以检测项目为单位，不得申请单个或多个参数的增项；增项数量不超过本等级检测项目总数的50%；初审有问题需要澄清的发《公路水运工程试验检测机构等级评定申请补正通知书》同一人的多个证书可以用于不同检测等级申报，但最多2次；除行政、质量、技术负责人外，检测人员证书不能重复使用现场评审5工作日前向单位发《公路水运工程试验检测机构等级评定现场评审通知书》，属于总站评审的，总站向所在地省站发《试验检测项目评审任务书》</p>
        <p>现场评审：预备会议（评审员、监督人员）-----首次会议（评审组、监督人员、被评机构主要人员）-----现场总体考察-----分组专项考核（档案材料组、硬件环境组、技术考核组）-----评审组内部沟通会议（公路水运工程试验检测机构现场评分表）----末次会议（现场评审专家反馈意见表）----提交现场评审资料（查后5工作日内）A预备会议：明确评审计划及专家分工，阐明注意事项；监督员为省站或市质检站人员。</p>
        <p>B首次会议：1介绍任务及依据；2介绍评审人员组成、考核内容及分工；3提评审工作要求；4随机抽取现场操作项目随机制定操作人员；5检测机构负责人介绍机构情况。</p>
        <p>任务：按照《公路水运工程试验检测等级评定现场评审通知书》或《实验检测项目评审任务书》对待评机构做出公平、公正、公开、科学的评审。</p>
        <p>依据：《公路水运工程试验检测等级评定办法》、《公路水运工程试验检测等级标准》</p>
        <p>C现场总体考察：宏观把握，面积、布局、环境、安全防护、薄弱环节等D分组考察档案组、硬件组、技术考核组I档案组：检测档案和内业资料，考核业绩、检测能力、管理的规范性和人员资格等情况。</p>
        <p>检测人员的职称、检测证书、专业配置，负责人的资格（工龄、职称）；报告的审核、签发是否是工程师，签字领域和考核批准的一致；检测人员有劳动合同及三险；依据的标准规范、规程齐全且现行有效；强制性试验检测项目的原始数据、试验检测报告或模拟检验报告要齐全，并抽查10%强制性项目和5%的非强制性项目报告的正确性、科学性、规范性；质量保证体系文件齐全、合理、运转有效；收样、存样和盲样运转记录齐全合理。</p>
        <p>模拟报告是对真实样品按照规范标准检测所得的结果，与业绩报告只差资质印章。</p>
        <p></p>
        <p>2硬件环境组：现场符合性检查，考核硬件是否与申请材料内容一致，是否满足等级标准。</p>
        <p>规定面积合乎要求，有产权或长期租赁（大于等于5年）；仪器设备数量、运行使用情况与申请材料符合，强制性数量不能缺少，非强制需不低于80%，否则少一扣0.5分；仪器管理状况，逐一检测使用记录、维修记录、检定/校准证书，重点核查可疑设备的购货凭证（购货发票、合同原件），拥有设备所有权（不得租赁）；场所便于集中管理，环境满足要求；样品管理条件合乎要求。</p>
        <p></p>
        <p>3技术考核组：抽查确认现场试验项目，原则上应覆盖所申请的各大项目；具体参数抽签决定；机构应做好所有项目实验准备，未准备好当作不能开展评判。</p>
        <p>提问技术、质量负责人的业务和质量管理相关知识；提问或问卷考察检测人员相关知识；检测操作人员检测证书，对号，避免替换；操作过程完整、规范、熟练；审查现场操作报告的规范性、完整性，选2份作《现场评审报告》附件，其余封存备查；涉及结构安全项目应对所有操作人员加强现场操作考核，并在证书上确认。</p>
        <p></p>
        <p>E评审组内部沟通会议汇总评审情况，提出问题和整改要求，填写《公路水运工程试验检测机构现场评分表》，组长计算平均分。</p>
        <p>F末次会议最终会议，组长主持，支出问题并要求机构按《现场评审专家反馈意见表》落实整改。</p>
        <p></p>
        <p>G提交现场评审材料审查后5日内上交质检机构《公路水运工程试验检测机构能力等级现场评审报告》《公路水运工程试验检测机构等级评定现场工作用表》连同电子稿以及2份现场操作项目试验检测报告。</p>
        <p></p>
        <p>仪器设备档案由硬件环境组负责检测。</p>
        <p>设备档案至少包含（名称、型号、厂家、价格、购买日期、出厂日期、固定资产管理编号、保管人、放置地、目前状态、说明书、检定校准校验情况记录(日期、周期、证书号、检定单位及电话、送检人、计量检定证书原件)、购置申请、装箱单、验收清单、验收日期、验收记录、启用日期、使用记录、维修记录、存放位置变更记录、报废情况）样品管理：样品信息要完整（至少名称、规格、标号、数量、检测状态、龄期(若需要)）；待检样品数量、完整性要合乎要求；储存情况；样品唯一标识系统。</p>
        <p></p>
        <p>得分低于80，不通过，6个月后可重新申报；80≤得分＜85，不通过，3个月后可重新申报；85分≤得分，通过，需整改处应报送书面整改。</p>
        <p></p>
        <p>公示7个工作日，通过评定及公示，发《公路水运工程试验检测机构等级评定决议书》、《等级证书》、“公路水运试验检测机构”专用标识用章；登录总站进行机构及人员注册。</p>
        <p>公示有问题经核实应书面通知并以情节轻重做相应处理。</p>
        <p>需要整改复核的发《公路水运工程试验检测机构等级评定整改通知书》不通过的发出《公路水运工程试验检测机构等级评定不予通过决定书》。</p>
        <p>对于甲级或专项增项通过的，总站向省站发《试验检测项目评定决定书》，机构带原证书到省站办增项手续。</p>
        <p></p>
        <p>《公路水运工程试验检测信用评价管理办法》信用评价办法：适用于持证的公路水运试验检测工程师或检测员、取得公路水运工程试验检测等级证书的机构；范围涵盖公路水运工程质量检定、验收、评定、监测及第三方试验检测业务。</p>
        <p>检测人员：随机检查累计扣分制：具体行为涉及多次扣分的以扣分标准高者为准。</p>
        <p>20≤周期内累计扣分＜40，信用较差；扣分≥40分属于信用很差；连续两年较差直接发布为较差，列入黑名单，伪造证书为信用很差，入黑名单。</p>
        <p>机构等级：AA＞95，好；85＜A≤95，较好；70＜B≤85，一般；60＜C≤70，较差；D≤60，很差，直接入黑名单，12号令处罚。</p>
        <p></p>
        <p>机构评分：</p>
        <p>W’为母体得分，Wn为现场操作及工地试验室得分，n为现场操作及工地试验室个数，r为权重（n=0是为1；n=1~5为0.4；6~10为0.08*n；n＞10为0.8）。</p>
        <p></p>
        <p>交通运输部负责信用评价统一管理，负责检测工程师取得甲级及专项证书并承担高速路、特大桥、长大隧道、大型水运工程质量鉴定、验收、评定、监测及第三方试验检测业务机构的信用评价及结果发布；省级交通运输主管部门负责本辖区信用评价工作的管理，省属质检机构负责具体实施。</p>
        <p>信用检查结果应有检查人员的签字，多次发现的问题可累计扣分。</p>
        <p>上一级质检机构可对下一级质检机构负责评价的机构进行随机抽查。</p>
        <p>在本省注册的检测人员、工程师；以及乙、丙级证书的机构的评价经省级交通运输主管部门审核后报部质检机构。</p>
        <p></p>
        <p>信用评价周期为1年，至少1年1次，且要覆盖评价标准中的所有项；评价结果定期公布，对直接评为信用很差的机构和人员应及时公布。</p>
        <p>试验检测机构17项失信行为；个人15项；工地试验室及现场操作15项。</p>
        <p>
            对一次检查扣分上限为30分，扣满后3月内复查仍不合格则累加继续扣；检测机构常见扣分项目：出借、借用等级证书直接评为D级（信用很差）；工地试验室或现场检查项目评分小于70分，则“未进行有效监管”；有得零分的项目说明监管不力；聘用信用很差或无证试验检测人员（不包括检测辅助工）属监管不力；超出等级标准参数范围，但在计量认证通过的范围内，若不加盖交通试验检测专用章则不扣分；报告不完整、漏签字、漏盖章分别扣分，多次出现最多扣3分；无故不参加质检机构组织的比对试验（属于《办法》的明确要求；对比试验不合格不在此扣分）；工地试验室、现场测试常见扣分项目：必须有母体规范授权书、机构公章、检测资质标识章，报告签发人经过母体正式委托，并明确授权范围、时间；授权负责人必须是母体正式人员；应在母体授权的项目参数范围内开展业务试验检测人员常见扣分项目：受聘于多家试验检测机构（包括同一母体，不同工地试验室）工地试验管理工地试验室提供的试验检测数据是工程建设现场质量控制和评判的重要基础数据来源，是工程建设质量保证体系的重要组成部分，直接关系到工程质量和施工安全生产。</p>
        <p></p>
        <p>《公路水运工程试验检测管理办法》规定取得《等级证书》的机构可设计工地试验室。</p>
        <p>《关于进一步加强公路水运工程工地试验室管理工作的意见》强调有等级证书的机构可设立实验室，承担检测任务，对检测结果负责。</p>
        <p></p>
        <p>设立原则：必须有《等级证书》；就近、方便且经济；机构满足规定。</p>
        <p></p>
        <p>检测机构在同一项目标段中只能受雇该项目的某一方委托；</p>
        <p>管理要求：1任何单位不得干预工地试验独立、客观地开展试验检测活动；</p>
        <p>2母体在自身检测范围内对其授权，授权书（加盖母体公章及等级专用标识章）包括可开展的项目及参数、授权负责人、授权公章、授权期限等；</p>
        <p>3现场需要的参数超出授权范围应委托第三方；</p>
        <p>4不得对外承揽试验检测业务建设单位委托具有《等级证书》、《计量认证证书》的机构设立工地试验室，承担工程建设项目监理的全部或部分试验检测工作，但不包括施工方的工地检测。</p>
        <p></p>
        <p>工地试验室备案程序：母体授权----工地试验室填写“公路水运工程工地试验室备案登记表”----建设单位初审---质检机构登记备案----通过时出具“公路水运工程工地试验室备案通知书”若试验项目及参数发生改变，或持证人员变化，应由母体经建设单位同意向项目质检机构备案。</p>
        <p></p>
        <p>工地试验室资料应最终移交母体检测机构；应按母体质量管理体系要求建立人员、设备、试验检测业务档案；环境应满足要求，鼓励推行标准化、信息化管理；实验报告应加盖工地实验室印章（母体机构名称+建设项目标段名称+工地试验室）工地试验室实行授权人负责制，为正式聘用人员，有检测工程师证书，责任：</p>
        <p>1管理资源配置满足试验需要，签发报告并对真实性、准确性负责，有权辞退违规人员；</p>
        <p>2建立工地试验室质量保证体系和管理制度；</p>
        <p>3严格按国家和行业标准、规范、规程以及合同展开试验工作；</p>
        <p>4实行不合格品报告制度，对设计结构安全的检测报告2个工作日内报送委托方，抄送项目质量监督机构，并建立不合格试验检测项目台账。</p>
        <p></p>
        <p>母体应制定工地试验室授权负责人管理制度，并进行监督；</p>
        <p>质检机构应建立工地试验室授权负责人专用信息库，加强监督检查；</p>
        <p>负责人变更，母体向建设单位提出申请，报质检机构备案。</p>
        <p>擅自离岗或任职于两家或以上单位属违规，扣信用分；</p>
        <p>负责人信用等级评委较差的，2年内不能担任工地试验室负责人；很差的，5年内不得担任工地试验室授权负责人；</p>
        <p>工地试验室评分小于等于70的，授权负责人2年内不能担任负责人。</p>
        <p></p>


        <h3 id="4">第四章考试管理</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>试验检测特点：专业性、技术性及实际操作性非常强涉及方法种类、仪器种类繁多，还要对数据作综合分析，要求工作经验丰富，需要高素质的复合型人才。</p>
        <p>需通过交通运输部统一考试。</p>
        <p>《管理办法》规定分人员和检测师两种；实施考试制度；提出只有通过交通运输部统一考试，取得上岗资格证书方可从业。</p>
        <p>2005年底出台《公路水运工程试验检测人员考试办法》，07年再次修订：设公路、水运两专业，检师、检员两等级，公共基础必考+专业科目选考公路分为：材料C、公路G、桥梁Q、隧道S、交通安全设施A和机电工程J水运：材料C、地基与基础D、结构J单科成绩2年有效，通过基础+任意单科可取的该专业证书2年经验+高级职称（不含工程经济高工）免公共基础；</p>
        <p>07考试办法规定了报名条件，强调了从业人员的经历和经验：</p>
        <p>检员：高中以上文化程度，2年相关工作经验，或大学专科及以上学历，或具初级专业技术任职资格检师：取的中级（含高级技师）以上工程专业技术资格，1年以上相关工作经历，且满足：</p>
        <p>获博士当年；硕士3年；双学士或研究生毕业后4年，本科5年；工作后取的本科学历6年；专科毕业7年；工作后专科8年；相关专业中专毕业，12年以上。</p>
        <p></p>
        <p>舞弊者取消当堂及后续考试成绩，当年不得再报考；</p>
        <p>替考、扰乱考场秩序、提供假资历取消本次考试资格，2年不再报；</p>
        <p>已得证，但查实弄虚作假骗取考试资格、违规替考等，取消证书，2年不考公路类编号含义：（公路）检师+年号（后两位）+5位数本系列总序号+专业首字母缩写。</p>
        <p></p>
        <p>如（公路）检师0600001J，表示零六年取的编号为00001的公路交通工程专业。</p>
        <p></p>
        <p>(公路)检员06京0001CJ即（公路）检员+年号+所在地+编号+专业升检师后，原检员证若专业相同，则检员证失效。</p>
        <p></p>

        <h3 id="5">第五章实验室资质认定管理</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>为提高试验检测活动科学性和有效性，06年根据计量法、标准化法、质量法等发布了《实验室和检查机构资质认定管理办法》将资质认定形式分为：计量认证、审查认可,（内容为有关实验室计量认证和审查认可的管理规定）“向社会出具具有证明作用的数据和结果的实验室都需要遵守认定管理办法”为确保科学规范地实施计量认证及审查认可的评定，发布了《实验室资质认定评审准则》</p>
        <p>计量认定指：国家认监委和地方质检部门根据相关法律、法规对为社会提供公证数据的产品质量检验机构的一种考核。</p>
        <p>考核内容涉及：1计量检定、2测试设备工作性能工作环境、3人员的操作技能、4保证量值统一准确的措施、5检测数据公正可靠的质量体系能力。</p>
        <p>审查认可：国家认监委和地方质检部门根据法律、法规对承担产品是否符合标准的检验任务和承担其他标准实施监督检验任务的检验机构的审查。</p>
        <p>审查内容：检测能力、质量体系。</p>
        <p></p>
        <p>条件：为行政机关、司法机关、仲裁机关、社会公益活动、经济或者贸易关系人提供证明性数据的；其他法定需要通过资质认定的。</p>
        <p>鼓励通过国家认监委确定的认可机构的认可，以保证检测校准与国际基本准则和通用要求相符合，促进国际互认。</p>
        <p></p>
        <p>实验室：从事科学实验、检验检测、校准活动检查机构：从事与认证有关的产品设计、生产、服务等的核查并确定其是否符合规定要求取得认监委确定的认可机构认可的实验室或检查机构，申请认定时，可简化相关程序避免重复。</p>
        <p></p>
        <p>计量认证、审查认可程序：申请人向国家认监委或地方质检部门提出书面申请附相关证明材料；初审（5工作日内决定受理与否的书面决定）；技术评审；技术评审完成20日内，做出是否批准的决定，通过则发认定证书、准许使用认定标志，反之书面说明理由。</p>
        <p></p>
        <p>资质认定证书有效期为3年，期满提前6个月提出复查、验收申请，逾期不申请，发证单位注销认定。</p>
        <p>申请增项，需按《..认定管理办法》申请。</p>
        <p>行为准则：P52，须与检测的产品保持独立，不得存在利益关系交通行业第三方检测机构必须通过计量认证，出具的数据和结果才具有证明作用。</p>
        <p></p>
        <p>监督检查：1隐瞒情况，提供虚假资料，警告，1年不能申请；2以欺骗、贿赂得到认定的，出具虚假结论或严重失实的，撤销资格，公示，3年不能申请。</p>
        <p>做出撤销决定后，地方质检部门15日内报送国家认监委备案。</p>
        <p></p>
        <p>评审准则与管理体系文件的编写评审准则吸收了国际标准ISO/IEC17025相关精髓，将计量认证和审查认可的评审要求统一，明确了评审的内容和方法，并规定向社会出具证明性数据的机构需遵守本准则。</p>
        <p>分五章：总则、参考文件、术语与定义、管理要求、技术要求。</p>
        <p>后两项是重要内容，共19要素，104要点。</p>
        <p>管理要求的11要素，51要点：组织、管理体系、文件控制、检测和/或校准分包、服务和供应品采购、合同评审、申诉与投诉、纠正措施预防措施及改进、记录、内部审核、管理评审。</p>
        <p>技术要求的8要素53要点：人员、设施及环境要求、检测和校准方法、设备和标准物质、量值溯源、抽样和样品处理、结果质量控制、结果报告。</p>
        <p></p>
        <p>组织：1）法律地位证明文件。</p>
        <p>独立法人的设立文件或注册证书；非独立法人的批准文件、授权书、最高管理者的任命文件、母体公正性声明。</p>
        <p>满足“授权”、“独立”的有关要求。</p>
        <p>2）场地、注册文件、设备的所有权、使用权证明文件，要有固定场所。</p>
        <p>3）管理体系文件：部门、岗位职责明确；管理活动控制程序是否全覆盖。</p>
        <p>4）在册人员证明或劳动合同，三险五险，注册证书挂靠情况。</p>
        <p>5）保证检测校准工作公正、客观的措施，与《办法》4、32条一致。</p>
        <p>科学、客观、严谨、公正；数据客观、公正、准确6）保护国家秘密和客户秘密的措施；7）实验室内部机构设置合理，部门职责明确，质量体系有效运行8）最高管理者、质量、技术、负责人、检员任命文件，职责要明确、恰当9）管理、操作、核查人员职责、权限明确；关键人员有代理人10）检测监督工作的范围、计划、记录，监督员职责到位11）是否任命质量主管、技术主管，质量只能1人，技术可以多人也可1人12）有措施完成政府下达的指令性任务，确保数据公正、及时。</p>
        <p></p>
        <p>管理体系：1）管理体系职责明确，认真落实2）实验室管理体系文件的系统性和协调性，完整且符合规定（检查实际运营的适应性、有效性）3）与重要岗位人员沟通，看对本岗位职责和管理体系、质量方针和目标是否清楚4）是否建立了适宜的质量方针和质量目标，且具有实际可操作性5）衡量全面评审情况，评审组集体评判的意见和结论文件受控：1）了解实验室是否正确理解文件受控的含义，文件控制和管理程序有关内容和环节是否齐全，规定是否合理且具有可操作性。</p>
        <p>2）内部文件的审批手续是否齐全，现场使用的各种文件是否标识清晰3）实验室现场是否使用失效或废止的文件，是否存在一个文件多个版本4）实验室受控文件是否定期审核，必要时进行修订，更改的文件是否经过再批准，并加以说明5）受控文件应加盖受控章，章应包含文件编号、持有人及部门、状态等信息，必须与受控文件发放/回收登记表一致。</p>
        <p></p>
        <p>检测和/或校准分包：1）是否确定了分包实验室的名单，各实验室是否符合本准则和相关技术能力；2）是否符合本准则限定的三种情况；3）每一次分包是否征得客户书面同意。</p>
        <p>
            对于大多数交通行业的检测机构而言，分包条款属于不适应服务与供应品的采购：1）是否制定有服务与供应品的选择、购买和验收、存储的相关管理程序文件2）是否对服务和供应方进行了评价，是否建立了服务方/供应方名单（主要涉及对供应商和设备检定机构进行评价）3）已发生的采购是否受控，是否正确选择具备资格的供应方4）是否规定了对采购品的验收要求，对供应品、试剂、耗材是否经过验收合同评审：1）制定评审客户要求、标书和合同的相关程序文件，且规定、要求要明确2）对不同类型的委托书、标书、合同，按照不同的规定实施评审3）合同评审应包含委托书、标书、合同（委托书：委托方式、依据、样品处置方式、报告取走15天后样本不再留存、委托送样只对来样负责）委托方式：送样、自行抽样、现场检查申诉与投诉：1）是否制定处理申诉与投诉文件，主动征求客户意见；2）处理申诉与投诉的过程是否符合程序文件的规定与要求；3）属实的，是否有对应的原因分析、纠正措施对工作和管理体系进行改进纠正措施、预防措施和改进：对不符合工作的控制程序及时处理“不符合工作可能再度发生时”，采用纠正措施，要具有合理性和可操作性对不符合工作或潜在造成不符合的原因采用纠正措施或预防措施对纠正、预防措施实施结果进行验证。</p>
        <p>记录：记录管理程序；管理记录和技术记录的信息足够复现管理和技术活动；保密措施；记录正确、完整、清晰、明了；保存期限合理，并按要求保存；安全储存、妥善保管；</p>
        <p>内部审核：建立内部审核控制程序；并按程序规范的开展内审工作；要覆盖管理体系的所有要素、所有部门和场所；内审人员要经资格确认，经培训，独立于评审的工作；</p>
        <p>每年至少一次（出现质量事故、对某一环节连续投诉、等级评审或资质认定前、内部发生较大改变如搬迁）则增加评审次数。</p>
        <p>审核原则：客观、独立、系统管理评审：管理评审控制程序文件，并按计划实施，根据结果改进，结果验证技术要求：人员人员：数量、能力达标，合同制人员、其他技术员、关键支持人能力达标；持证上岗；培训程序和计划；监督要求；人员档案、技术主管、授权签字人资格合服要求（工程师、熟悉业务、考核合格）；质量监督检验机构的授权签字人是否合乎资格（工程师、熟悉业务、本专业领域3年经验）。</p>
        <p>设施和环境条件：满足相关规范和标准的要求；试验对环境有要求的，试验时需要做好记录；</p>
        <p>安全作业管理程序，应急处理措施；相互工作有不利影响时，须隔离措施；对影响工作质量、涉及安全的区域和设施，须有效控制，正确标识。</p>
        <p></p>
        <p>检测和校准方法：制定必要的作业指导书；对选用的新方法要进行确认，标准、规范、指导书现行有效；非标准方法要经过确认，且非标准方法和国际标准只适应于特定委托方的检测；对检测/校准方法的偏离是否经负责人批准，客户是否接受；建立并实施计算与数据转换及处理的规定，实施数据保护程序（数据从采集到处理的完整性、保密性）。</p>
        <p></p>
        <p>设备与标准物质：设备出现缺陷，停用、明确标识（修复的须经过检定、校准，并评价对过去检测带来的影响）；设备和标准物质有明确状态标识；建立设备期间核查程序；正确使用校准修正因子。</p>
        <p></p>
        <p>量值溯源：校准、检定、确认的总体计划、周期检定计划表；不能溯源到国家基准的要有比对试验或能力验证合格；尽量使用有证标准物质，并防止污染和顺坏。</p>
        <p>抽样和样品处理：结果质量控制：质量控制程序（定期使用有证标准物质进行内部质量控制、实验室比对、重复检查）、分析质量控制的数据，及时纠正。</p>
        <p>结果报告：按相关技术规范、标准和规定的程序，保证数据准确、客观、真实，使用法定计量单位；报告信息完整；抽样详情；追加文件管理体系文件编写要点管理体系文件是实验室开展工作的依据，是规范性文件，包括：过程管理的要求、人员的职责、岗位设置、管理方法、实施管理所需要的资源等。</p>
        <p>四个层次构成：质量手册程序文件作业指导书其他（报告、文件、记录、表格）质量管理体系5个基本要求：规范性；系统性；协调性；唯一性；适用性，简单易懂质量手册：按《评审准则》规定的质量方针、目标，描述质量管理体系要素和途径。</p>
        <p></p>
        <p>程序文件：质量管理体系涉及的各部门的职能活动作业指导书：某个具体作业的指导工作文件，如设备操作规程、检验细则、样品其他：记录，诸如表格、签名、原始记录、报告等质量手册是实验室实施质量管理的法规性文件，包括说明实验室质量方针、管理体系活动中的政策、管理体系运行涉及人员的职责权限及行为准则和活动的程序。</p>
        <p>质量方针要简明扼要，便于理解；质量目标是质量方针的具体化，要有长期目标也要有年度目标，以便于考核。</p>
        <p>质量手册5点作用：实验室管理的依据、管理体系审核评价的依据、质量体系存在的依据、实现管理规定连续性的保证、证明实验室质量管理体系符合有关方面的要求实验室存放的所有规范、标准及体系文件都应该加盖受控章受控章包含：受控编号、持有人或部门、受控状态质量手册需要简明扼要的之处各岗位的工作内容、职责权利，与实验室中其他部门的职务和关系以及任职条件，采用职能分配表表示，要与组织机构框图中的岗位设置一致。</p>
        <p></p>
        <p>程序文件是规定实验室质量活动方法和要求的文件，是《质量手册》的支撑性文件，为完成管理体系中所有主要活动提供了方法和指导，分配了具体的职责和权限，包括管理、执行、验证活动，对某项活动所规定的途径进行描述。</p>
        <p></p>
        <p>要求：须符合标准的要求、与其他管理体系文件协调一致、适合管理体系运作、逻辑完整、具有可操作性。</p>
        <p>特别强调程序文件的：协调性、可行性、可检查性。</p>
        <p>并非所有活动都需要建立程序文件：准则中明确要求建立的；活动内容复杂设计部门多。</p>
        <p>交通行业工地试验室：化学试剂、药品管理程序；现场检测管理程序；工地试验室管理程序。</p>
        <p></p>
        <p>作业指导书是规定质量基层活动途径的操作性文件，对象是具体的作业活动，包括：检测方法、抽样标准和方法、测量不确定度评定范围、仪器操作规程、期间核查方法等。</p>
        <p></p>
        <p>4方面作业指导书，设备方面：设备的使用、操作规范；方法方面：用以指导检测过程；样品方面：样品的准备、处置、制备规则数据方面：有效位数、修约、异常值的剔除其他质量文件记录一般分为：管理记录+技术记录；</p>
        <p>记录要足够充分能在线检测活动；记录管理应采用杠改法，误记内容要清晰可见，有更改人的签字或盖章，一般为试验检测人。</p>
        <p>无合同要求同时无永久保存价值的，保存期限应不少于产品的寿命期或责任期。</p>
        <p>检测和校准实验室能力认可准则国家认可委员会（CNAS）发布，作为对检测和校准实验室能力进行认可的基础认可准则适用于所有实验室，它是对实验室内所有影响检测、校准数据的准确性和可靠性因素进行的全面评审。</p>
        <p>它包含证明实验室管理体系运行；具有技术能力；能提供正确的技术结果所涉及的所有要求。</p>
        <p>它包含了ISO9001关于检测、校准方面的所有要求，因此是依据ISO9001运作的，而ISO9000认证只能说明实验室具有完整的质量管理体系。</p>
        <p></p>
        <p>实验室质量管理体系符合ISO9001不证明它具有出具技术上有效数据和结果的能力；反之实验室质量管理体系符合认可准则也不意味着其运作符合ISO9001的所有要求（认可准则只针对试验校准，ISO在管理体系方面针对的专业更广泛）；管理体系符合ISO9001并不证明实验室具有出具技术上有效数据和结果的能力（因为ISO9001不包括技术能力等评测）。</p>
        <p>检测和校准实验室按照认可准则的要求，其针对检测和校准所运作的质量管理体系也就满足ISO9001的原则。</p>
        <p></p>
        <p>评审认可准则在检测校准方面的质量管理体系要求≥ISO9001在检测校准方面的质量管理体系要求；评审认可准则在质量管理体系方面的要求＜ISO9001在质量管理体系方面要求评审认可准则在检测校准实验室方面的评价方面＞ISO9001在相同方面要求认可准则包含了实验室进行检测和校准能力（包括抽样）的通用要求，包括使用非标准方法、标准方法和实验室制定的方法。</p>
        <p>认可准则是检测和校准实验室能力认可的基础，实验室应同时满足准则要求和相应领域的应用说明。</p>
        <p>是CNAS对检测和校准实验室能力认可的依据，也可为实验室建立质量、行政和技术运作的管理体系，以及为实验室的客户、法定管理机构对实验室的能力进行确认或提供指南。</p>
        <p></p>
        <p>认可准则将适量管理体系分为管理要求（15要素）和技术要求（10要素）与评审准则相比，管理要求多了：要求和标书；服务客户；不符合检测和校准工作的控制，同时把改进、纠正、预防分开列举。</p>
        <p>技术要求不同处：检测和校准结果质量的保证（结果质量控制）；检测和校准方法的确认（检测和校准方法）；设备（设备和标准物质）；抽样（抽样和样品处理）；检测和校准物品的处置；评审准则在ISO/IEC17025基础上，结果国家对检测实验室监管的强制性要求，它既有行政认可的管理内容，也包含计量认证审查认可的要求，是资质认定（计量认证、授权、验收）的评审依据，包含管理要求11要素，技术要求8要素。</p>
        <p>试验检测机构应按认可准则或评审准则建立管理体系。</p>
        <p></p>
        <p>建立质量管理体系的目的是为了实施质量管理，并实现质量方针，达到质量目标，以最佳方式指导实验室活动，确保顾客满意，同时减低成本。</p>
        <p>实验室管理体系是把影响检测、校准的所以因素合在一起，在质量方针的指引下，为实现质量目标而形成集中统一、步调一致、协调配合的有机整体，使总体作用大于部分之和。</p>
        <p>实验室建立的管理体系应该有管理和检测能力两方面的要求。</p>
        <p></p>
        <p>资质认定形式的区别为交通行业提供试验检测数据的试验检测机构，首先应取得由交通行业办法的等级证书，然后根据计量法及标准化法等有关法律法规选择通过计量认证或实验室认可。</p>
        <p>计量认证的评审根据《评审准则》，该准则参考了《认可准则》，同时结合国家法律法规，具有强制性。</p>
        <p>审查认可评审依据《评审准则》，针对质量技术监督系统依法设置的质检机构的验收和对有关行业部门建立、经质量技术监督部门授权的机构评审。</p>
        <p>国家鼓励实验室通过认可，保证其符合相关国际基本准则和通用要求，促进检测、校准和检测结果的国际互认。</p>
        <p>国家实验室认可是实验室认可机构对实验室有能力进行规定类型的检测和</p>
        <p></p>
        <p>交通行业试验检测机构常用印章：等级印章；计量认证章CMA(中国计量认证)，盖报告左上方，下标出合格证书编号(字号尺寸自定)，P交通，R建设(建材、城建、建工)，N铁路，Y计量，Z其他等级证书编号原则：地域简称（黔）+G（公路）+JC（检测）+等级（甲乙丙）或桥（桥隧专项）或交（交通工程）+3位本系列总序号由省站进行编号。</p>
        <p></p>
        <p>地域简称（黔）+S（水运）+JC（检测）+等级（甲乙丙）+A（材料）或B（结构）+3位本系列总序号如部总站颁发的公路工程综合甲级：交GJC甲001贵州颁发的公路综合乙级黔GJC乙001水运黔SJC乙A001水运材料丙级试验检测机构专用标识章，27mm×16mm，证书编号为蝴蝶蓝，隶书，小四，位于标识下方，盖报告右上角。</p>
        <p></p>
        <p>检测参数通过计量认证时加盖CMA标识检测参数属于等级证书批准范围，未通过计量认证时只加盖等级专用章J标识通过认证同时属于等级证书规定范围，加盖CMA(左侧)，加盖J标识（右上角）</p>
        <p></p>


        <h3 id="6">第六章试验检测常用术语和定义</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>


        <p>第三方检测机构：买卖利益之外，公正、权威的非当事人（事先与所检测产品毫不相关）母体试验检测机构：取得相应等级资质的永久性试验检测机构工地试验室：处于工地，由母体授权，按合同检测试验，临时机构质量体系：为了实施质量管理所需的组织结构、程序、过程的资源。</p>
        <p>质量管理：确定质量方针、目标、职责，并在管理体系中通过各种手段使其实施全部管理职能的所有活动（为了使管理体系实施全部职能的活动）授权签字人：实验室提名，计量认证评审组考核合格，获准签字的人员工地试验室授权负责人：母体指定，代表母体管理工地现场实验室的人文件受控：为保证使用的各种文件现行有效，实验室对文件的编制、审核、批准、标识、发放、保管、修订等各个环节实施控制和管理。</p>
        <p>模拟报告：依据试验规范标准对真实样品进行检测所形成的检测报告。</p>
        <p>检验：通过观察和判定，结合测量、试验和量测的合格评定。</p>
        <p>校准：在规定条件下，用参照状态下获得的相应变量的观测来估计校准函数的所有操作的集合。</p>
        <p>标准：由各方起草并协商一致或基本同意的适于公用并经标准化机构批准的技术规范和文件。</p>
        <p></p>
        <p>设备期间核查；两次校准/检定期间的核查；实验室间比对。</p>
        <p>内审：内部审核，系统、定期的审核策划的体系、过程及其运作的符合性、适宜性、有效性；保证管理体系自我完善和持续改进。</p>
        <p>（必须建立）管理评审：最高管理者就质量方针和目标对质量体系的现状和适应性进行的正式评价，为了确保质量管理体系的适宜性、充分性、有效性、效率。</p>
        <p></p>
        <p>量值溯源：通过一条具有规定不确定度的不间断的比较链，是测量结果或标准的值能够与规定的参考标准（通常指国家、国际标准）联系起来的特性。</p>
        <p>保证了结果的准确性和一致性。</p>
        <p>量值的准确是在一定的不确定度、误差极限或允许误差范围内的准确。</p>
        <p>真实性：由很多一个系列的检测结果得到的平均值与被接受的参考值之间的一致程度。</p>
        <p>真值：一定条件下完善刻画一个量所定义的值，无法确切获得。</p>
        <p>约定真值：可用于替代真值的值测量：确定量值的一组操作；测试：确定被测对象某一或某些特性的技术操作；计量：实现单位统一、量值准确可靠的活动；测量方法：测量所用的一组操作逻辑次序测量程序：根据给定的测量方法具体叙述的一组操作。</p>
        <p></p>
        <p>26准确度（包含正确度和精密度）：测量结果或测试结果与真值（接受参考值）的一致程度，当用于一组测试时，包含随机误差分量和系统误差分量（偏倚分量）精密度（依赖于随机误差）：规定条件下所获的各次独立测量/测试结果间的一致程度。</p>
        <p>仅依赖于随机误差与真值或规定值无关，以标准差衡量，越大越不精密。</p>
        <p></p>
        <p>重复性：重复条件下的精密度，用分散性定量描述（相同测量方法、同人、同地等等）再现性：再现性条件下的精密度，离散特性定量描述（不同人，同方法，不同设施，同一测量对象）试验标准差：</p>
        <p>其中为第i次测量的结果，为平均值（也可作分布期望的无偏差估计），S²为该分布的σ²的无偏差估计为平均值的实验标准偏差不确定度：表征值的分散性。</p>
        <p></p>
        <p>标准不确定度：标准差表示的不确定度扩展不确定度：测量结果大部分值可望分布其间的合理估计区间接收参照值：经协商同意的标准值（科学原理理论值或确定值、国家或国际组织实验工作的指定或认证值、合作实验工作中的同意值或认证值、才外为测量集合的均值即期望值）结果的误差：测量结果与真值（接受参照值）的差值。</p>
        <p>又叫测量的绝对误差。</p>
        <p></p>
        <p>偏差：一个值减去参考值相对误差：测量误差除以真值（约定真值）随机误差：测量结果与多次测量平均值之差。</p>
        <p>（误差与系统误差的差值）只能确定估计值系统误差：无限多次测量的平均值与真值之差（与真值一样原因不能获知）修正值（相加）、修正因子（相乘）用以补偿系统误差示值误差：显示值与真值之差溯源性：通过一条比较链与计量基准相连附有证书的经过溯源的标准物质为有证标准物质（标准物质证书和标签均有CMC证记）标准物质分两级：国家制定颁发或出售；各专业部门制作供厂矿或实验室使用。</p>
        <p></p>

        <h3 id="7">第七章法定计量单位</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>


        <p>《计量法》规定我国法定计量单位为国际制单位+国家选定的其他单位。</p>
        <p>名称符号由国务院确定。</p>
        <p>国际单位制（简称SI）是我国法定计量单位的主体和基础，并随之变化而变化，一切属于国际单位制的单位都是我国的法定计量单位。</p>
        <p>
            国际单位制于1960年第11届国际计量大会确定，由国际单位制构成体系、SI单位、SI词头、SI单位的十进倍数单位及使用规则组成国际制的单位包括SI单位（基本单位、辅助单位、导出单位）、SI单位的十进倍数单位基本单位7：米、千克、开尔文（K热力学）、安培、秒、坎德拉（cd，发光的强度）、摩尔（mol）辅助单位2个：弧度（rad）、球面度（sr）导出单位16个：由基本单位以及辅助单位以代数运算得到的单位倍数单位：不得单独使用，需加在原单位的前或后，词头不重复，焦耳J：牛顿米N.M欧姆米：三次方米千克每三次方秒二次方安培表示面积或体积时，要读平方、立方，其余读二次方、三次方；“每”只出现一次，从左到右依次读，负一次方读每；书写汉字单位时，汉字间不加代数符号，如“欧姆米”我国指定的其他单位：分、小时、天；度、分、秒；升；吨，原子质量；转每分；海里；</p>
        <p>节；电子伏；分贝；特。</p>
        <p>倍数单位使用时，量的数值处于0.1—1000之间。</p>
        <p>如11401pa=11.401Kpa（机械制图毫米、导线截面积平方毫米，领土平方千米，同一篇文章为保证单位统一，不受上述限制）艾(E18)--拍(P15)--太(T12)--吉(G9)--兆(M6)--千(k3)--百--十--分--厘--毫(3m)--微(6μ)--纳(9n)--皮(12p)--飞(15f)--阿(18a)组合单位只用一个词头，一般放在第一个词上：kN.m(不写N.km)；只通过除，或通过乘和除构成的单位，词头放在分子上，kg在分母中例外。</p>
        <p>MV/m；mmol/kg建议使用SI单位，词头用10的幂代替；摄氏度、度分秒、日时分不能出现倍数单位m*s-1，m*/s，m/s均可，斜线/在一个单位中出现不超过一次。</p>
        <p>中文表达单位时不应出现全称；相乘：牛.米（居中圆点）；相除：米/秒；米.秒-1；米*/秒℃可作中文符号使用；单位符号后不能加省略号，没有复数形式；可用“元/d”组合形式SI单位为正体字母，大于等于10的六次方用大写，其余小写，词头与单位间无空格；人名缩写的，应在所有数值后首字母大写（升L和天文单位A除外），并空半个数字空隙</p>
        <p></p>

        <h3 id="8">第八章数值修约</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>定义：即通过省略原数值的最后若干位数字，调整所保留的末尾数值，使最后所得的值最接近原数值的过程。</p>
        <p>修约间隔是指最小数值单位，如0.1是指修约到一位小数，100修约到百位进舍规则：
        <ul>
            <li>1）拟舍弃数字的最左一位数字小于5，舍去，其余各位不变；
            <li>
                2）拟舍弃数字最左一位数字大于5，则进一，1268百位13*10³特殊情况可1300
            <li>
                3）拟舍弃数字最左一位数字等于5，且其后有非零数字时，进一
            <li>4）拟舍弃数字的最左一位数等于5，且其后无非零数字时，若所保留的末位数字为奇数则进一，偶数（0,2….）,则舍去
            <li>5）负数修约时，先用绝对值修约，再加负号-355十位-36*10不允许连续修约，只能修约一次，某些计算部门将值按比指定修约位数多一位或几位的方式保持，再传递给下一部门，为避免产生连续修约错误，应按下面步骤做：
            <li>1）若报出数值最右的非零数字是5时，应分别加“+，-，不加”来表示“已舍去、已进位，未舍未进”
            <li>
                2）如对报出值需要进行修约，当拟舍弃数字的最左一位数值是5，且其后无非零数字时，数值右上角有“+”者进一位，有“-”者舍一位实际值15.4545报出值15.5-修约到个位值1516.520316.5+17
        </ul>
        <p>0.5单位修约：将拟修约数值A，乘以2，按指定的修约间隔对2A进行修约，再除以2；如“修约到个位数的0.5单位”60.25---X2=120.5---修约到个位120--÷2=60.0后面的“.0”必须保留，不能是“60”沥青软化点试验，先算平均值，再2倍修约，再除以2
        <p>0.2单位修约将拟修约数值A，乘以5，按指定的修约间隔对5A进行修约，再除以5；830修约到百位的0.2单位----X5=4150----修约到百位---4200---除以5---840
        <p>综上，“0.N”修约时，先保证原数值A乘以B（这里B乘以0.N等于1），再修约，再除以B，得到的数值要保证拟保留的位数下一位是N的整倍数。
        <p>有效数字：从左边第一个非零数字开始算加减运算：几个数据相加减，小数点后的数字位数以小数点后位数最少的（即绝对误差最大的）为准。</p>
        <p>如0.22+0.253+0.1=0.2+0.3+0.1（修约，不是简单的去掉小数后面的位数）如果数据的运算量较大时，为了使误差不影响结果，可以对参加运算的所有数据多保留一位数字进行运算。</p>
        <p>乘除运算：各参加运算数据所保留的位数，以有效数字位数最少的为标准，积、商的有效数字也如此。</p>
        <p>0.0121*30.64*2.05782，其中有效数字最少的是0.0121，为3位，故修约另两数至3位有效数字得到30.6*2.06*0.0121=0.7627356=0.763（最后计算值也要满足有效位数要求）极限数值的表示和判定极限数值：由标准或技术规范给出且符合该标准或技术规范要求，是数量形式的，表示的是指标数值范围的界限值。</p>
        <p>标准或规范中以数量形式给出的指标或参数等，都应该规定其极限值。</p>
        <p>如通过给定最小极限值或（和）最大极限值，或给出基本数值与极限偏差值等方式。</p>
        <p>标准中极限数值的表示形式及书写位数应适当，其有效数字应全部写出，位数表示的精确度应能保证产品或其它标准化对象应有的性能和质量。</p>
        <p></p>
        <p>术语：大于（多于、高于、超过），小于（少于、低于、不足），大于或等于（不小于、不少于、不低于，A及以上，至少A），小于或等于（不大于、不多于、不高于、A及以下，至多A）；这些术语可组合使用。</p>
        <p></p>
        <p>1）带极限偏差的数值，通过在数字右边以上下标方式表达，之间，b2=b1=b时可记做A±b2）基本数值A带相对极限上偏差（+b1%），相对极限下偏差（-b2%）表示实际值R的计算，表示值介于A-b2~A+b1值[(R-A)/A]是否在b2%和b1%之间，记作，b2=b1=b时可记做A（1±b%）例510Ω(1±5%)(不含5%)，若实际为530Ω，则[(530-510)/510]=0.039，即3.9%，符合标准。</p>
        <p>3）若有效值不包括上下偏差，应在之后括号说明（不含b1和b2）、（不含b1）、（不含b2）测定值或其计算值与标准规定的极限数值做比较的方法判断测定值或其计算值与标准规定的极限数值比较，有全数值比较法和修约值比较法当标准文件或有关文件对极限值无特殊规定时，采用全数值比较法；如规定采用修约值比较法，应在标准中加以说明。</p>
        <p>标准或有关文件规定了使用其中一种方法时，确定后不得改动。</p>
        <p>全数值比较法相对较严格。</p>
        <p>进行修约值比较时，若测试或计算精度允许，应先将获得的数值按指定的修约位数多一位或几位给出，再修约至和极限值数位一样；</p>
        <p>测量误差与测量不确定度X=X0+Y即：测量值=真值+测量误差误差按产生原因及性质可分为：系统误差，过失误差(又叫错误，可避免，不允许出现)和随机误差；系统误差是恒定误差，由人及系统产生，相同条件下大量重复测试时，测试结果向一个方向偏离，或按相同规律变化。</p>
        <p>主要由“仪器误差、人为误差、外界误差、方法误差、试剂误差”，因它是有规律的，原因可知的，可设法消除或降低影响。</p>
        <p>随机误差是由不能预料的、不能控制原因造成的，完全偶然，无规律性；过失误差叫错误，与事实不符的显然错误，它是不允许出现的。</p>
        <p></p>
        <p>1）精密度反应测量结果的重演程度（设备等条件相同），越高则表示随机误差越小；2）准确度指测量结果的正确性，准确度高表明系统误差小3）精确度（精度）包含精密度和准确度的含义，越高表明测量结果既精密又可靠。</p>
        <p></p>
        <p>误差表示方法：极差、绝对误差、相对误差极差：测量最大值与测量最小值之差。</p>
        <p>R=Xmax-Xmin，它可以粗略说明数据的离散程度，可表征精密度，也可估算标准偏差。</p>
        <p>绝对误差：测量值与真值的差异，及△Xi=Xi-X0，i表示第i次测量，反映测量的准确度，同时含有精密度的意思相对误差：绝对误差与真值的比值，△Xi/X0=ε，反应测量的准确度，又反应精密度不论是比较各测量值的精度或者是评定测量结果的质量，采用相对误差更为合理；测量的可重复性（同等测量条件）越高就越精密（随机误差小），但不一定准确度高，还要考虑系统误差，因此精确度需要衡量精密度和准确度二者。</p>
        <p></p>
        <p>测量不确定度：表征合理的赋予被测量值的分散性，是与测量结果相联系的参数。</p>
        <p>测量不确定度只与测量方法有关（测量原理、测量仪器、测量环境条件、测量程序、测量人员及数据处理方法等），与具体测得的数值无关。</p>
        <p>测量不确定度的来源：10点，主要来源：测量设备、测量人员、测量方法、被测对象的不完善等。</p>
        <p>所有测量中都存在测量不确定度。</p>
        <p>测量不确定度分类：标准不确定度（A类、B类、合成标准不确定度）、扩展不确定度两大类。</p>
        <p>A类评定：指用对观测列进行统计分析的方法进行的评定，其标准不确定度用实验标准差表征：</p>
        <p>特点：1）先由实验量得到被测量的观测列，由观测列计算单次测量结果或平均值的标准偏差；2）因影响因素的随机性，每次观测值Xi不一定相同，即观测结果具有随机性，对于大量观测值，应满足正态分布；3）A类评点的自由度可以由测量次数、被测量的个数和其他约束条件求得。</p>
        <p>B类评定：评定标准一般是由系统效应导致的，凡是用非统计方法评定出的标准不确定度都是B类。</p>
        <p>与随机或系统没有对应关系。</p>
        <p>评定依据可是可靠的说明书、检定书或校验证书、测试报告等相关技术资料，也可以是测试人员个人技术经验和知识。</p>
        <p>B类评定是通过其他已有信息进行评估的；根据极限值和被测量分布的信息直接估计出标准偏差或由检定证书、校准证书提供的扩展不确定度导出标准不确定度；与A类不同的评定方法都是B类，标准不确定度以标准差表示。</p>
        <p>主要信息来源为：（大致分为两类：鉴定证书或校准证书得到；</p>
        <p>其他各种资料得到）各种标准和规程等技术性文件对产品和材料性能的规定以及生产部门提供的技术文件，有时源自测量人员对有关技术资料和测量仪器的了解和经验，因此带主观因素合成标准不确定度的评定：当测量结果是由若干个其他量的值求的时，按其他各量的方差和协方差计算所得的标准不确定度。</p>
        <p>（表示测量结果的分散度）所有的合成方法称为不确定度传播律。</p>
        <p>其自由度称为有效自由度，表示所评定的可靠程度。</p>
        <p>扩展不确定度：用合成不确定度的倍数表示的测量不确定度，它是确定测量结果区间的量。</p>
        <p></p>
        <p>不确定度的评定步骤测量的参数确定后测量结果的不确定度仅和测量方法有关，测量方法包括测量原理、测量仪器、测量条件、测量程序和数据处理程序。</p>
        <p>方差：标准不确定度的平方。</p>
        <p>测量结果的定义：通过测量得到的被测量的最佳估计值。</p>
        <p>
            压实度、平整度、无侧限抗压强度属于单侧规范限误差与不确定度的区别：误差和真值联系无从测量，不确定度可以通过实验、资料等确定，可以定量操作；误差表示数轴上的一个点，不确定度表示一个区间；只能得到随机误差和系统误差的估计值，不确定度根据对标准不确定度的评定方法分为A、B两类；测量结果的不确定度只与测量方法有关，与具体测的数值无关，测量结果的误差只与真值和测量数据有关，与方法无关；测量结果的误差和不确定度在数值上没确定的关系；是两个不同概念，误差有不确定度，不确定度也有误差；对观测列统计分析得到的实验室标准差是被测估计量的标准不确定度，而不是随机误差；自由度表示测量不确定度评定可靠程度的指标；置信区间可根据置信概率确定，而区间的半宽度可表示不确定度；</p>
        <p></p>

        <h3 id="9">第九章实验室能力验证</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>


        <p>能力验证是指利用实验室间对比来确定实验室检测/校准能力的活动，是对实验室能力进行考核、监督和确认的一种验证活动。</p>
        <p>定性计划（识别被测物的某个组分）、数据转换演练（数据处理）、单件物品检测（一件物品，逐一送至各实验室检测）、单项演练、连续计划、抽样目的：增加实验室用户信心；识别实验室间的差异；确定某种方法的性能特征——协作试验；确定实验室进行某些特定检测或校准的能力以及监控实验室的持续能力；为标准物质（RMS）赋值，并评估其在特定检测或测量程序中使用的适用性识别实验室中的问题并制定相应的纠正措施和预防措施，确定新的检测和测量方法的有效性和可比性，并对这些方法进行相应的监控；</p>
        <p>测量对比：待测物从一个实验室传递到另一个，其指定值（参考值）由某个实验室提供（最好由国家有关测量的最高权威机构担当，如国家计量院）；测量周期长，应严格控制试件传递和参赛者的测量时间，在测量实施过程中及时向各实验室反馈信息；测量结果要与参考实验室提供的参考值相比较，应考虑各实验室声明的测量不确定度。</p>
        <p>实验室间检测比对：从材料源中随机抽取次级样品，同时分发给各实验室共同进行检测。</p>
        <p></p>
        <p>有时也用于实验室间测量比对计划。</p>
        <p>完成检测后，将结果返回协调机构与指定值对比。</p>
        <p>“分割水平设计”分割样品检测比对：将材料分割成两份或几份，分别给少数几个实验室检定，用途包括识别不良的精密度，描述一致性偏移和验证纠正措施的有效性。</p>
        <p>需要注意保留材料，给其他实验室来处理参赛实验室的数据差异。</p>
        <p>定性对比：评定实验室表征特定实物的能力（如石棉的分类）已知值比对：待测值已知，不需要多个实验室参加部分过程比对：考察实验室完成测量全过程中的某部分或若干部分的能力能力验证计划的组织与实施1、能力验证组织：技术专家、统计学专家、计划协调者；2、能力计划：考虑9要素，成本、保密政策、报告结果的日程表、待测品的可靠程度、组织安排的合理性（日程地点等）、运行的频次、参加实验室验收准则的可获性、测试内容要和申请者或参加者的检测项目相符合、认可机构应具备获取报告，数据处理等的过程。</p>
        <p>内容：15条3、能力验证注意事项：记录的保密性、避免结果的串通和伪造、特定人验证组织者计划需有资格的人审定和监督</p>
        <p></p>

        <h3 id="10">第十章统计技术和抽样技术</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>


        <p>随机试验：试验在重复条件下进行，结果可能不止一个，能实现确定所有的结果，但不能预测哪一个结果会出现。</p>
        <p>必然事件U、不可能事件V、随机事件A.B.C…随机事件在一次试验中可能出现可能不出现，但多次试验中会有规律。</p>
        <p>频率=频数÷次数=出现的次数÷总的次数当总次数逐渐增大时，频率在某一定值P附近摆动，则P是事件的概率小概率事件、不相容（互斥）事件、互相独立事件随机变量、分布函数利用分布函数（值落在某分部区间内的概率）、分布密度函数可以完全确定一个随机变量。</p>
        <p>随机变量的数字特征：数学期望、方差、矩、协方差等（连续、离散随机变量）数学期望：E(X)，，可以表示随机变量的本身大小，X的取值中心或在数轴上的位置，表征随机变量的分布的中心位置。</p>
        <p>数学期望的估计值即为若干个测量结果或一系列观测值的算术平均值（以概率为权的加权平均值）。</p>
        <p>数学期望是一个平均的大约的数值，随机变量的所有可能值围绕它取值。</p>
        <p></p>
        <p>离散型数学期望：</p>
        <p>，其中是随机变量，为相应的概率，122方差：刻画随机变量偏离中心位置的程度，V(X)=E[X-E(X)]²，标准差去掉平方离散型方差：矩：协方差：</p>
        <p>随机变量的常见概率分布：</p>
        <p>均匀分布：</p>
        <p>为坐标系下平行于x轴的直线，a≤x≤b，正态分布：处处大于零，各阶连续可导；</p>
        <p>（）区间严格上升，时取得最大值，其大小由标准差决定，标准差越大，观测值落在附近的概率越小，表示测量精度越差，观测值也越分散；（）区间严格下降；</p>
        <p>在（）内积分为1；关于对称，即标准正态分布：</p>
        <p>，记作N(0，1)34t分布常用数理统计工具统计概念：算术平均值、相关系数、总体、样本、样本空间数理统计工具：直方图、分层法、因果图、调查表调查表：不合格项目、工序质量特性分布、调查缺陷位置的（统计分析调查表）分层法：对数据按来源、性质、使用目的、要求进行分类、总结、分析，再使用其他统计方法成图。</p>
        <p>若不好，直方图会出现峰型、平顺型；排列图矩形高度差不多，分不清主次。</p>
        <p>因果图（特征要因图、鱼骨图、树枝图）：将各因素按大小次序以主干、大支、小枝方法表示出来。</p>
        <p>可对因果做出明确、系统的整理，一目了然、系统的了解产生质量问题的原因。</p>
        <p></p>
        <p>直方图：分析掌握质量数据分布和估算工序不合格品率的一种方法；分频数和频率直方图两种，前者使用较多。</p>
        <p>收集数据----分析和整理数据---确定组距、组数---确定组界---画图分析和整理：求最大最小值；求极值R（最大减去最小）组数k和组距h：组距h=极值R÷（组数k-1）50内5-7组；50到100则6-11组；100到250则7-15组；＞250，10-30组确定组界：组界精度高于数据一位，防止数据落在组界上（体现在第一组界限上）。</p>
        <p>第一组下限=最小值-组距÷2，上限=最小值+组距÷2，第二组下限等于第一组上限，第二组上限等于第二组下限+组距h。</p>
        <p></p>
        <p>判断：正常性、孤岛型、双峰型、折齿型、陡壁型、偏态型、平顶型正常：中高两边低，对称，正态分布孤岛：两边出现孤立小岛，材料发生变化、测试有误差双峰：数据来自两个不同分布的总体折齿：凹凸不平，数据分组太多、测量仪器误差过大陡壁：一边倾斜，搜集数据不正常偏态：受界限限制，下限限制左偏，反之右偏平顶：数据源自多个分布的总体；或质量在某区间均匀变化抽样方案：使用的样本量和有关批接受准则的组合；确定样本大小和判断数组，就能对给定的批次进行抽样和判定。</p>
        <p>检验：产品与质量要求相比较并做出质量评判的过程；分为全数检验和抽样检验两大类全数检验可靠性好，抽样检验以数理统计为依据，具有很强的科学性和经济性。</p>
        <p>影响检验可靠性因素：质量检验手段的可靠性；抽样检验方法的科学性；抽样检验方案的科学性。</p>
        <p></p>
        <p>抽样方法：简单随机抽样、散料抽样、系统抽样、整群抽样、多阶段抽样、分层抽样。</p>
        <p>简单随机抽样：总体中每个样本被抽取的概率相等。</p>
        <p>又分重复（重复样本、估计量的概率分布不相同）、不重复抽样（无重复样本、估计量的概率分布相同）；抽样方法有抽签法、随机数法（先对样品编号，总数乘以随机数再向上取整得到要检测的样品编号）散料抽样：宏观上难以区分其组成部分的材料系统抽样：将总体中的抽样单元按一定顺序排列，在规定的范围内随机抽取一个或一组初始单元，然后按照一定规则确定其他样本单元的抽样。</p>
        <p>分为等距抽样和定位系统抽样。</p>
        <p>等距抽样即抽取每第K个样本；等距抽样：流水线中固定位置或固定时间处抽取。</p>
        <p>系统抽样的抽样随机性受到限制。</p>
        <p></p>
        <p>分层抽样：样本抽自不同层，每层至少有一个抽样，每层采取随机抽样。</p>
        <p></p>
        <p>整群抽样又叫集团抽样：将总体分成为若干群，随机选取部分群，对群中所有单位进行全面调查。</p>
        <p></p>
        <p>多阶段抽样：从总体中通过一次抽样得到一个样本（单阶段或初阶段抽样），在从中抽取次级样本（多阶段）。</p>
        <p>目的在于便于组织抽样，使抽样方式灵活多样化、提高估计精度，提高经济效益。</p>
        <p></p>

        <h3 id="11">第十一章设备检定校准及结果的运用</h3>
        <a class="btn btn-default" role="button" href="#top">返回顶部</a>

        <p>为保证检查结果可靠，所用设备都需要量值溯源，常见方法有检定、校准、验证。</p>
        <p>仪器检定是指任何一个测量结果或计算标准的值，都可以通过一条具有规定不确定度的比较链与计量基准（国家或国际基准）联系起来，从而使准确性和一致性得到保证。</p>
        <p>准确性是指测量结果与被测真值的一致程度。</p>
        <p></p>
        <p>凡列入《中华人民共和国依法管理的计量器具目录》直接用于贸易结算、安全防护、医疗卫生、环境检测方面的器具必须定点、定期送检，如玻璃液体温度计、天平、流量计、压力表等强制检定，取得检定证书的设备均为合格设备。</p>
        <p></p>
        <p>《计量法实施细则》规定计量检定工作应符合经济合理、就地就近原则，不受行政区和部门管辖的限制。</p>
        <p>校准：将仪器、量测系统等的值与对应的由标准所复现的量值之间的关系。</p>
        <p>对未列入强制检定目录的仪器，可检定、也可校准。</p>
        <p></p>
        <p>验证：提供客观证据对规定要求已得到满足的认定（iso90003.8.4），前提是已知设备的使用要求和规定。</p>
        <p>其使用范围有如下几种：未经定型的专用检测设备；借用的非永久性控制的设备；暂不能溯源到国家基准的设备；作为工具使用不传输数据的设备；计算机软件。</p>
        <p>验证方法：变换方法进行计算、与已证实的进行比较、进行试验和演示、文件发布前进行评审。</p>
        <p></p>
        <p>脱模器、摇筛机、取芯机等属于功能性验证，正常者贴绿标；玻璃器皿用作量具使用时必须检定，用作器具做盛水等用时可不检定；量筒、滴定管等有刻度的玻璃器皿易碎，首次检定终身使用。</p>
        <p>不能溯源、非强检仪器，可自检，必须制定校验方法；没有国家或地方计量检定规程、尚不能溯源的仪器，可采取实验室间比对。</p>
        <p></p>
        <p>检定具有法制性，为计量管理范畴的执法行为；校准不具法制性是自愿行为检定是对计量特征和技术要求进行全面评价；校准是获取示值误差检定依据检定规程；校准依据校准规范、校准方法，可统一规定或自行制定。</p>
        <p>检定要给出合格与否；校准不做合格与否判定，最多给出某一性能是否合乎预期要求检定合格发检定证书；不合格发不合格通知书；校准发校准证书或校准报告。</p>
        <p></p>
        <p>取得校准证书或校准报告的设备不一定符合要求，需要质量或技术负责人对报告或证书的数据进行确认，判定有无偏差，并对偏差进行修正。</p>
        <p></p>
        <p>状态标志：合格、准用、停用合格标识：绿色，经计量检定或校准、验证合格确认其符合检测/校准技术规范使用要求准用标识：黄色，存在部分缺陷，但在限定范围内可以使用，并经校准/检定合格停用标识：红色，目前不能使用，但经检定校准或修复后可以使用的，不是废品杂物。</p>
        <p></p>
        <p>停用设备一般包括：损坏的、检定校准不合格的、性能无法确定的、超过周期未检定的、不符合检测/校准技术规范的（不允许不明状态的一起设备摆放在实验室）检定证书和校准报告的内容（首先检查检定/校准单位的资格和业务范围）设备名称、型号；检定校准依据；检定校准使用的工具；测定的参数和不确定度；测试环境温度、相对湿度；检定证书下结论、校准证书无结论。</p>
        <p>检定周期一般为1年，也可根据使用频率自定。</p>
        <p></p>
        <p>常见标识：路强仪标识贴应力环上，同时标明应力环的编号；或者贴在传感器上玻璃器皿根据使用不同贴标，可先编号然后将标识贴墙上；不能多个水泥混凝土试模共用一个标识；负压筛包括负压筒和筛子，两部分应分别校准，分别贴标识。</p>
        <p>只有在筛孔符合要求的情况下，才能用筛余系数对误差进行校准。</p>
        <p>千分表、百分表标识应贴在背面，且标识编号、校准报告中的设备编号、出厂编号要一致实验室常见错误：无设备管理的总体计划或管理方式不正确，检定/校准/验证概念不清，出现溯源方式错误，将无需检定的工具送检定；检定校准周期不正确，除按检定校准规程进行检定校准外，还应制定合理的校准周期；</p>
        <p>未结合规范要求对检定校准结果进行确认。</p>
        <p>校准参数不全或检定校准参数未覆盖所使用的范围（针入度实验所使用的针未校准或校准参数不全，针入度仪连杆和针安装后的质量；马歇尔稳定度仪只有稳定度的校准而无流值；烘箱、高温炉、低温恒温水浴未能提供温度场的多个点的检测数据）校准报告中提供的修正因子或修正值未使用；</p>
        <p>期间核查设备名称不明确，方法不正确，检定校准报告依据错误用于校准的标准器具量程未覆盖设备校准范围或使用错误器具；检定、校准报告未提供检测参数，只有合格结论压力机、万能机检定量程未按使用需要分档检定检定校准报告的仪器设备编号与实际编号无法对应</p>
        <p></p>
        <p>设备使用注意事项：选择正确的量程；根据测试参数和规范选择正确的仪器设备；使用前后都应查验设备是否正常；认真填写使用记录，确保实验操作能够再现。</p>
        <p></p>
        <p>实验室必须对仪器设备的校准检定验证建立总体要求，对每一类、每一台仪器设备通过何种方式实现溯源做出具体规定，尤其是检定校准的依据、实施内容、结果确认的依据等，同时根据仪器设备的工作周期要求，制定仪器设备的周检计划。</p>
        <p>校准的结果确认及应用对于检定、校准报告，实验室应对其符合性进行确认评定：仪器设备的关键量或示值误差是否在该设备允许的误差范围内；是否满足相关检测标准和/或客户的要求；仪器设备是否可用于检测。</p>
        <p></p>
        <p>校准报告确认的几种情况：校准证书、测试报告未对仪器主要特征进行评定时，应对给出的结果进行符合性判定；只反映出被校准仪器的示值误差（引用误差、相对误差、绝对误差）时，只能对测量仪器设备的示值误差的符合性进行判定；仪器设备的使用说明书和相关标准对设备的精度要求是评定的依据，应对示值误差是否符合某一最大允许误差（MPEV）做出符合性判定。</p>
        <p></p>
        <p>仪器设备示值误差符合性评定的基本方法：若评定值误差的不确定度与被评定仪器设备的最大允许误差之比小于或等于1:3，则可不考虑示值误差评定的测量不确定度的影响；测试报告未给出被测量值的不确定度时，若被测仪器示值误差在最大允许误差之内，则合格；超出最大允许误差，则不合格；若测量不确定度不合乎要求时：示值误差绝对值小于或等于最大允许误差的绝对值与示值误差的扩展不确定度之差时，为合格；若大于或等于最大允许误差绝对值与示值误差的扩展不确定度之和时，为不合格；同时属于以上两种情况时，为待定区。</p>
        <p></p>
        <p>设备校准前后注意事项：根据规范标准的要求提出校准的参数和范围；校准后对校准结果逐一确认，并提出注意事项或要求；当校准产生一组数据时，应确定自变量与应变量是否关联，并建立二者回归方程和相应曲线；检测校准报告中使用的标准规范、依据、设备名称、测量范围、计量标准证书编号、测量不确定度是否满足要求；尤其关注交通行业中专业设备的校准报告；确认不流于形式要有确认结论相关系数是反应两个变量的关联程度，描述回归方程线性相关的密切程度，取值范围为[-1,1]，当绝对值靠近1时，变量间的相关性越好，等于±1时，完全相关；相关系数绝对值大于临界系数时，才能用线性表示。</p>
        <p></p>
        <p>期间核查：旨在确定测量设备校准状态的可信程度《检测和校准实验室认可准则》《法定计量检定机构考核规范》要求校准实验室和法定计量检定机构必须对其计量标准和标准物质进行期间核查。</p>
        <p>检测机构应该在期间核查程序中列出期间核查设备的名称、方法、周期等内容。</p>
        <p></p>
        <p>重点测量设备：性能不稳定、漂移率大的；使用非常频繁的；经常带到现场检测的；在恶劣环境中使用的；曾经过载或怀疑有质量问题的不是所有的设备都要进行期间核查：对无法寻找核查标准（物质）（破坏性试验）的设备无法进行期间核查。</p>
        <p></p>
        <p>期间核查方法多，一般考虑测量设备的特性、经济性、实用性、可靠性、可行性等；首先要有核查标准：上一等级、下一等级或同级计量标准、标准物质；也可是准确度更高或较低的同类测量设备、实物样品等。</p>
        <p>一般采用等精度核查方式：仪器间对比；标准物质验证；方法对比；加标回收；单点自校仪器间比对（传递量值；多台比对；两台比对）传递量值是指使用精度更高的仪器验证低精度仪器（高精度的测量不确定度不超过低精度设备不确定度的1/3）使用多台同类型同精度仪器验证（P149）：使用两台同类型设备验证：</p>
        <p>标准物质法（若无标准物质，可用已经过定值的标准溶液）：</p>
        <p>留样再测法（稳定性实验法、重复测量法）：实物样件检查法：用于测量限值的仪器设备，超出则报警自带标样检查法：仪器设备自带标准样块，或自动校准系统直接测量法：属于标准信号源的，若具有计量标准，可用传递量值法；不具备的使用直接测量法。</p>
        <p>期间核查发现测量设备性能超出预期使用要求时，首先立即停止使用并进行维修，重新鉴定或校准表明性能合乎要求才能使用；其次采取适当方法、措施对上次核查后开展的鉴定校准、检测工作进行追溯，尽可能降低由设备失准造成的风险。</p>
        <p></p>
        <p>《关于印发公路路水运工程试验检测人员继续教育办法（试行）的通知》，公路水运工程试验检测人员继续教育办法（试行）第一章总则第一条为巩固并不断提高试验检测人员的能力和技术水平，适应公路水运工程试验检测工作发展需要，促进试验检测人员继续教育制度化、规范化、科学化，依据《公路水运工程试验检测管理办法》（原交通部令2005年第12号），制定本办法。</p>
        <p>第二条本办法所称试验检测人员是指取得公路水运工程试验检测工程师和试验检测员证书的从业人员。</p>
        <p>本办法所称继续教育是指为持续提高试验检测人员的专业技术和理论水平，在规定期限内完成的教育。</p>
        <p>第三条接受继续教育是试验检测人员的义务和权利。</p>
        <p>试验检测人员应按照本办法规定参加继续教育。</p>
        <p>试验检测机构应督促本单位试验检测人员按要求参加继续教育，并保证试验检测人员参加继续教育的时间，提供必要的学习条件。</p>
        <p>第四条继续教育应坚持切合实际、注重实效，方便工程现场试验检测人员学习的原则。</p>
        <p>第二章继续教育的组织第五条交通运输部工程质量监督局（简称“部质监局”）主管全国公路水运工程试验检测人员继续教育工作，负责制定继续教育相关制度，确定继续教育主体内容，统一组织继续教育师资培训，监督、指导各省开展继续教育工作。</p>
        <p>交通运输职业资格中心配合部质监局开展相关具体工作。</p>
        <p>第六条各省级交通运输主管部门质量监督机构（简称“省级质监机构”）负责本省范围内试验检测人员继续教育工作，负责制定本行政区域继续教育相关制度和年度计划，结合实际确定继续教育补充内容，组织、协调本省继续教育工作。</p>
        <p>第七条省级质监机构可委托相关机构（以下称“继续教育机构”）具体组织实施试验检测人员继续教育事宜，并按要求将委托的继续教育机构情况报部质监局备案。</p>
        <p>第八条省级质监机构应选择具备以下条件的继续教育机构进行委托：（一）具有较丰富的公路、水运工程试验检测和工程经验，能够独立按照教学计划和有关规定开展继续教育相关工作；（二）具有独立法人资格，具备完善的教学、师资等组织管理及评价体系；（三）有不少于10名师资人员；（四）有教学场所、实操场所（如租用场所应至少有三年以上的协议）；（五）收支管理规范，有收费许可证、税务登记证；能够按照相关规定核算有关费用，合理确定收费项目和收费标准；（六）师资人员一般应具备以下条件：</p>
        <p>1.具有较高的政治、业务素质，较强的政策能力，在专业技术领域内有较高的理论水平和较丰富的工程经验；2.具有相关专业高级技术职称；3.通过部质监局组织的师资培训。</p>
        <p>第九条省级质监机构应建立委托的继续教育机构和师资人员的数据库，根据本省需求情况，动态、合理地控制委托的继续教育机构的数量和师资规模。</p>
        <p>委托的继续教育机构和师资人员名单应向社会公布。</p>
        <p>第三章继续教育的实施第十条省级质监机构应根据部质监局确定的继续教育主体内容，结合实际制定并公布本省继续教育计划和内容，指导试验检测机构合理、有序地组织试验检测人员参加继续教育。</p>
        <p>第十一条公路水运工程试验检测继续教育采取集中面授方式，逐步推行网络教学和远程教育。</p>
        <p>第十二条受委托的继续教育机构应根据继续教育计划和内容，按照确定的科目和课程编制教学计划、组织教学，并采取措施加强管理，保证教学质量。</p>
        <p>第十三条继续教育的授课内容应突出实用性、先进性、科学性，侧重试验检测工作实际需要，注重与实际操作技能相结合，一般应包括：（一）与试验检测工作有关的法律法规、标准、规范、规程；（二）试验检测人员职业道德教育；（三）试验检测业务的新理论、新方法；（四）试验检测新技术、新设备；（五）试验检测案例分析；（六）实际操作技能；（七）其它有关知识。</p>
        <p>第十四条试验检测人员可就近参加省级质监机构组织的继续教育，有关情况经相应省级质监机构确认后在管理系统中予以记载。</p>
        <p>第十五条公路水运工程试验检测继续教育周期为2年（从取得证书的次年起计算）。</p>
        <p>试验检测人员在每个周期内接受继续教育的时间累计不应少于24学时。</p>
        <p>第十六条试验检测人员在其资格证件有效期内，未按规定完成继续教育的，应当补充完成继续教育后办理审验手续（审验办法另行制定）。</p>
        <p>第十七条试验检测人员的以下专业活动可以折算为继续教育学时。</p>
        <p>每个继续教育周期内，不同形式的专业活动折算的学时可叠加。</p>
        <p>（一）参加试验检测考试大纲及教材编写工作的，折算12学时；（二）参加试验检测考试命题工作的，折算24学时；（三）；参加试验检测工程师考试阅卷工作的，折算12学时；参加试验检测员考试阅卷工作的，折算8学时；（四）担任继续教育师资的，折算24学时；（五）参加部组织的机构评定、试验检测专项检查等专业活动的，折算12学时；（六）参加省组织的机构评定、试验检测专项检查等专业活动的，折算8学时；第四章继续教育的监督检查第十八条省级质监机构应当加强对试验检测人员参加继续教育情况的检查，督促试验检测机构和试验检测人员参加继续教育。</p>
        <p>第十九条省级质监机构应采取措施对师资水平、授课效果、课程内容和组织管理等进行综合评估，适时调整委托的继续教育机构及师资，不断提高教学质量，完善继续教育管理工作。</p>
        <p>第二十条受委托的继续教育机构应当加强档案管理，将继续教育计划、继续教育师资情况、参培学员登记表、学员学习情况及结果等纳入档案管理，并接受省级质监机构的监督检查。</p>
        <p>第二十一条受委托的继续教育机构违反本办法规定，有下列情形之一的，不予确认其所开展的有关工作或取消对其继续教育的委托：（一）未经委托擅自从事继续教育或者提供虚假继续教育资料的；（二）未按照继续教育计划和内容要求组织相应继续教育的；（三）发布继续教育虚假信息的。</p>
        <p>第二十二条试验检测人员在继续教育过程中有弄虚作假、冒名顶替等行为的，取消其本周期内已取得的继续教育记录，并纳入诚信记录。</p>
        <p>第二十三条质监机构工作人员在继续教育管理工作中有徇私舞弊、弄虚作假等情形的，依法给予行政处分；构成犯罪的，依法追究刑事责任。</p>
        <p>第五章附则第二十四条本办法由部质监局负责解释。</p>
        <p>省级质监机构可依据本办法制定具体实施办法。</p>
        <p>第二十五条本办法自2012年1月1日起施行。</p>
        <p></p>
    </div>
</div>
<a class="btn btn-default" role="button" href="#top">返回顶部</a>

<script>
    const app = new Vue({
        el: "#container",
        data: {
            fontsize: 14,
            pads:14,
        },
        methods: {
            add: function () {
                this.fontsize ++ ;
                console.log("add");
                console.log(this.fontsize);
            },
            sub: function () {
                this.fontsize --;
                console.log("min");
                console.log(this.fontsize);
            },
            addjj: function () {
                this.pads ++ ;
                console.log("add");
                console.log(this.pad);
            },
            subjj: function () {
                this.pads --;
                console.log("min");
                console.log(this.pad);
            }
        }
    })
</script>
</body>
</html>